/* Navigation Bar */
#nav-bar {
    /* Position nav-bar at the top right of the viewport */
    position: fixed;
    top: 3rem;
    right: 2rem;
    width: calc(100% - 4rem);
    z-index: 10;
    padding: 0;
    transition: top 0.3s;
}

.nav-bar-content {
    /* Display nav-bar content in a flex container with space between items */
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.nav-links-container {
    /* Round the corners of the nav-links container */
    border-radius: 999px;
}

.nav-links {
    /* Display nav-links in a flex container with a gap between items */
    display: flex;
    margin: 0.7rem;
    gap: 2rem;
}

#nav-bar .link[href="/edp-unblock"] {
    /* Display EDP Unblock link as a flex container with a gap between items */
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 15px;
}

#nav-bar .edpu-logo {
    /* Style the EDP Unblock logo */
    height: 20px;
    transform: scale(1.3);
    transition: .2s ease;
}

#nav-bar .edpu-logo > path {
    fill: rgba(var(--text-color-alt), .7);
}

a[href="/edp-unblock"]:hover .edpu-logo > path {
    fill: rgba(var(--text-color-main-reverse), 0.7)!important;
}

/* Landing Page */
.landing-page {
    /* Set the height of the landing page */
    height: 179em;
}

.landing-page .link {
    /* Style the links on the landing page */
    text-decoration: none;
    padding: 1rem 1.6rem;
    border-radius: 99px;
    font-weight: 500;
    transition: .2s ease;
}

.landing-page .nav-links .link.selected,
.landing-page .nav-links .link:hover,
.landing-page .nav-login a:hover,
.landing-page .change-theme button:hover {
    /* Style the selected and hovered links on the landing page */
    background-color: rgba(var(--text-color-alt), .8);
    color: rgba(var(--text-color-main-reverse), 0.8);
}

.landing-page .link:hover svg path {
    /* Style the hovered link's SVG path */
    fill: rgb(var(--text-color-main-reverse));
    transition: .1s;
}

.landing-page .nav-login,
.landing-page .nav-hambuger-menu-div {
    /* Display the login and hamburger menu div as flex containers */
    display: flex;
    margin: auto;
}

.landing-page .nav-hambuger-menu-div {
    /* Hide the hamburger menu div */
    display: none;
}

.landing-logo {
    height: 50px;
    width: auto;
}

/* Go to Top Button */
.go-to-top {
    /* Style the go-to-top button */
    position: fixed;
    z-index: 100;
    display: flex;
    padding: 14px;
    /* background-color: rgb(var(--background-color-3)); */
    background-color: rgb(var(--background-color-2), .7);
    cursor: pointer;
    border-radius: 99px;
    bottom: 26px;
    right: 26px;
    border: solid 1px transparent;
    outline: none;
    transition: .25s;
}

.go-to-top.active {
    /* Style the active go-to-top button */
    opacity: 1;
}

.go-to-top.unactive {
    /* Style the inactive go-to-top button */
    opacity: 0.45;
    bottom: -43px;
    right: -62px;
}

.go-to-top:is(:hover, :focus-visible) {
    /* Style the hovered go-to-top button */
    transform: scale(1.1);
    background-color: rgb(var(--text-color-alt));
    border-color: rgb(var(--text-color-alt));
}

.go-to-top:active {
    transform: scale(.9);
    opacity: .8;
}

/* Up Arrow */
.up-arrow {
    /* Style the up arrow */
    z-index: 110;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18px;
    fill: rgb(var(--text-color-alt));
    transition: all .4s ease;
    transform: rotate(270deg);
}

.up-arrow.active {
    /* Style the active up arrow */
    transform: rotate(0deg);
}

/* Theme and Login */
.landing-page .login-theme,
.landing-page .change-theme {
    /* Display the login and theme divs as flex containers */
    display: flex;
}

.landing-page .login-theme a,
.landing-page .change-theme button {
    /* Style the login and theme buttons */
    padding: 1.7rem 2.6rem;
    border-radius: 1rem;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    transition: all .2s ease;
}

.landing-page .change-theme {
    /* Style the theme div */
    justify-content: center;
    align-self: center;
    margin-left: 10px;
}

.landing-page .change-theme button {
    /* Style the theme button */
    position: relative;
    display: flex;
    padding: 2.65rem;
    border: 0;
    background-color: rgb(var(--background-color-2));
    cursor: pointer;
}

.landing-page .change-theme button::before,
.landing-page .change-theme button::after {
    /* Style the theme button's pseudo-elements */
    position: absolute;
    content: "";
    border-radius: 100%;
    width: 23px;
    height: 23px;
    transition: all 0.2s ease-in;
}

.landing-page .change-theme button::before {
    /* Style the theme button's before pseudo-element */
    display: none;
    background-color: rgba(190, 190, 200, 0.5);
    background-image:
        radial-gradient(circle at 10% 20%, rgba(200, 200, 210, 0.7), transparent 30%),
        radial-gradient(circle at 30% 70%, rgba(180, 180, 190, 0.7), transparent 30%),
        radial-gradient(circle at 70% 40%, rgba(210, 210, 220, 0.7), transparent 30%),
        radial-gradient(circle at 20% 60%, rgba(190, 190, 200, 0.7), transparent 30%),
        radial-gradient(circle at 50% 80%, rgba(170, 170, 180, 0.7), transparent 30%);
    box-shadow: 1px 0 4px rgb(0, 0, 0);
}

.landing-page .change-theme button::after {
    /* Style the theme button's after pseudo-element */
    display: block;
    background-color: rgba(255, 200, 80, 0.5);
    background-image:
        radial-gradient(circle at 10% 20%, rgba(255, 200, 80, 0.7), transparent 30%),
        radial-gradient(circle at 30% 70%, rgba(255, 180, 60, 0.315), transparent 30%),
        radial-gradient(circle at 70% 40%, rgba(255, 220, 100, 0.7), transparent 30%),
        radial-gradient(circle at 20% 60%, rgba(255, 190, 90, 0.7), transparent 30%),
        radial-gradient(circle at 50% 80%, rgba(255, 210, 70, 0.7), transparent 30%);
    box-shadow: 0 0 0 1px rgb(255, 200, 80), 0 0 5px 0px rgb(255, 200, 80);
}

.dark .landing-page .change-theme button::before {
    /* Style the theme button's before pseudo-element in dark mode */
    display: block;
}

.dark .landing-page .change-theme button::after {
    /* Style the theme button's after pseudo-element in dark mode */
    display: none;
}

/* Login */
.landing-page .nav-login a {
    /* Style the login link */
    padding: 1.7rem;
    font-weight: 500;
    transition: all .3s ease;
}

.landing-page .EDPLogo {
    /* Style the EDP logo */
    margin-top: 3px;
    margin-right: 10px;
}

.landing-page .nav-logo span,
.landing-page .nav-login a,
.landing-page .change-theme button,
.landing-page .nav-links-container,
.landing-page .go-to-top {
    /* Apply box-shadow, background-color, and backdrop-filter to the nav logo span, login link, theme button, and nav links container */
    box-shadow: rgba(var(--ajustable-monochorme), 0.16) 0px 3px 6px, rgba(var(--ajustable-monochorme), 0.23) 0px 3px 6px;
    background-color: rgb(var(--background-color-2), .7);
    backdrop-filter: blur(4px);
}
.landing-page input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}

.landing-page input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}