* {
    box-shadow: 0 0 0 3px transparent;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

p.policy {
    /* Bloquer par rapport a la page les policy, pour ne pas qu'ils bougent au scroll */
    position: fixed;
}

#notifications-container {
    display: none;
}

#nav-bar {
    position: fixed;
    top: 3rem;
    left: 2rem; /* Décalage de 50px du bord gauche de l'écran */
    right: 2rem; /* Décalage de 50px du bord droit de l'écran */
    width: calc(100% - 4rem); /* La largeur de la barre de navigation est la largeur de l'écran moins les décalages gauche et droit */
    z-index: 10;
    padding: 0;
    margin: 0;
    transition: top 0.3s;
}


.landing-page {

    /* height est a modifier si on veux ajouter d'autres elements */
    
    height: 179em; /* Hauteur parfaite pour tous les éléments (le gradient, c'est une méthode de bucheron accesoirement) */
    /* background: linear-gradient( 3deg, rgb(var(--background-color-1)), rgb(var(--background-color-0))); */

}

.nav-bar-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
}


#nav-bar .link[href="/edp-unblock"] {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 15px;
}

#nav-bar .edpu-logo {
    height: 20px;
    transform: scale(1.3);
}

#nav-bar {
    margin-right: auto;
    margin-left: auto;
}

.nav-links-container {
    background-color: rgb(var(--background-color-2), .7);
    backdrop-filter: blur(4px);
    border-radius: 99999px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.nav-links {
    display: flex;
    /* justify-content: center; */
    margin: 0.7rem .7rem;
    gap: 2rem;
}

.landing-page .link {
    text-decoration: none;
    padding: 1rem 1.6rem;
    border-radius: 999999px;
    font-weight: 500;
    transition: 0.2s ease;
}

.landing-page .link.selected, .link:hover {
    background-color: rgb(var(--box-shadow-color-scrollbar-thumb-on-hover));
    color: rgb(var(--text-color-main-reverse));
}

.landing-page .link:hover svg path {
    fill: rgb(var(--text-color-main-reverse));
    transition: .1s;
}

.landing-page .nav-login {
    display: flex;
    margin: auto;
}

.landing-page .nav-hambuger-menu-div {

    display: none;
}

.landing-page .nav-logo span {
    display: flex;
    text-decoration: none;
    background-color: rgb(var(--background-color-2), .7);
    backdrop-filter: blur(4px);
    padding: 1.7rem 1.4rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    user-select: none;
    cursor: default;
}

.landing-page .EDPLogo {
    margin-top: 2px;
    margin-right: 10px;
}

.landing-page .login-theme a {
    text-decoration: none;
    align-items: center;
    justify-content: center;
    padding: 1.7rem 2.6rem;
    border-radius: 1rem;
    background-color: rgb(var(--background-color-2), .7);
    backdrop-filter: blur(4px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    transition: .2s ease;
}

.landing-page .login-theme a:hover {
    background-color: rgb(var(--background-color-3));
    color: rgb(var(--text-color-main-reverse));
}

.landing-page .login-theme {
    display: flex;
}

.landing-page .change-theme {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-left: 10px;
}

.landing-page .change-theme button {
    position: relative;
    padding: 2.65rem;
    border: 0;
    background-color: rgb(var(--background-color-2), .7);
    backdrop-filter: blur(4px);
    border-radius: 1rem;
    transition: .2s;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.landing-page .change-theme button::before {
    display: none;
    position: absolute;
    content: "";
    background-color: rgba(190, 190, 200, 0.5);
    background-image:
    radial-gradient(circle at 10% 20%, rgba(200, 200, 210, 0.7), transparent 30%),
    radial-gradient(circle at 30% 70%, rgba(180, 180, 190, 0.7), transparent 30%),
    radial-gradient(circle at 70% 40%, rgba(210, 210, 220, 0.7), transparent 30%),
    radial-gradient(circle at 20% 60%, rgba(190, 190, 200, 0.7), transparent 30%),
    radial-gradient(circle at 50% 80%, rgba(170, 170, 180, 0.7), transparent 30%);
    box-shadow: 1px 0 4px rgb(0, 0, 0);
    border-radius: 100%;
    width: 30px;
    height: 30px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    transition: all 0.2s ease-in;
}

.landing-page .change-theme button::after {
    display: block;
    position: absolute;
    content: "";
    border-radius: 100%;
    width: 30px;
    height: 30px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-color: rgba(255, 200, 80, 0.5);
    background-image: radial-gradient(circle at 10% 20%, rgba(255, 200, 80, 0.7), transparent 30%),
    radial-gradient(circle at 30% 70%, rgba(255, 180, 60, 0.315), transparent 30%),
    radial-gradient(circle at 70% 40%, rgba(255, 220, 100, 0.7), transparent 30%),
    radial-gradient(circle at 20% 60%, rgba(255, 190, 90, 0.7), transparent 30%),
    radial-gradient(circle at 50% 80%, rgba(255, 210, 70, 0.7), transparent 30%);
    background-position: 0 0, 50px 50px, 100px 0, 0px 100px, 100px 100px;
    box-shadow: 0 0 0 1px rgb(255, 200, 80),0 0 5px 0px rgb(255, 200, 80);
}

.landing-page .change-theme button:hover {
    background-color: rgb(var(--background-color-2));
    cursor: pointer;
    transform: scale(1.03);
}

.landing-page .change-theme button::before,
.landing-page .change-theme button::after {
    width: 23px;
    height: 23px;
}

.dark .landing-page .change-theme button::before {
    display: block;
}

.dark .landing-page .change-theme button::after {
    display: none;
}

/* ------------------ Partie pour animer le menu hamburger ------------------ */

.landing-page input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

.landing-page input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}

.landing-page .sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    height: 22px;
    width: 22px;
}
    
.landing-page .landing-page.sidebarIconToggle > span {
    border-radius: 10px;
}

.landing-page .spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: rgb(var(--border-color-1));
}

.landing-page .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}

.landing-page .diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}

.landing-page .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}

.landing-page input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}

.landing-page input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}

.landing-page input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}

/* -------------------------------------------------------------------------- */
/*                                   Banner                                   */
/* -------------------------------------------------------------------------- */

/* ------------------------------- BANNER-SPAN ------------------------------ */

.landing-page .more-info {
    color: rgb(83, 87, 150);
    cursor: pointer;
    text-decoration: none;
}

.landing-page .more-info:hover {
    color: rgb(43, 47, 100);
}

/* --------------------------------- BANNER --------------------------------- */

.landing-page #home {
    scroll-margin-top: 20rem;
    position: absolute;
    display: flex;
    top: 50%;
    background-color: rgba(var(--background-color-2), 0.6);
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 1rem;
    box-shadow: var(--box-shadow-window);
}

/* -------------------------- BANNER-BOX-CONTAINER -------------------------- */


/* ------------------------------ BANNER-TITLE ------------------------------ */

.landing-page .ban-title {
    position: relative;
    padding: 20px;
    width: 85rem;
    left: 4rem;

}

.landing-page .ban-title h4 {
    background-color: rgba(var(--background-color-0), 0.6);
    font-size: 30px;
    font-weight: 600;
    padding: 20px;
    margin-bottom: 3rem;
    border-radius: 1rem;
    box-shadow: var(--box-shadow-element);
}

/* ------------------------------- BANNER-BOX ------------------------------- */

.landing-page .ban-box {
    display: flex;
}

/* ---------------------------- BANNER-BOX-DESING --------------------------- */

.landing-page .ban-box-desing {
    padding: 25px;
    text-align: center;
    width: 34rem;
    height: 30rem;
    background-color: rgb(var(--background-color-0), 0.4);
    margin: 2rem;
    border-radius: 2rem;
    border: solid rgb(var(--border-color-1)) 1.2px;
    box-shadow: var(--box-shadow-element);
    transition: all 0.3s ease;
}
.landing-page .ban-box-desing:hover {
    transform: scale(1.01);
    border: solid 2.3px rgba(var(--border-color-0), 0.8);
}

.landing-page .ban-box-desing h3 {
    position: relative;
    margin-bottom: -10px;
    font-size: 21px;
    font-weight: 600;
}

.landing-page .ban-box-desing h6 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: 500;
}

/* -------------------------------------------------------------------------- */
/*                                 INFO-DESING                                */
/* -------------------------------------------------------------------------- */

.landing-page .box-desing-title {
    position: relative;
    padding: 20px;
}

.landing-page .box-desing-title h4 {
    text-align: center;
    background-color: rgba(var(--background-color-0), 0.6);
    font-size: 30px;
    font-weight: 600;
    padding: 20px;
    margin-bottom: 3rem;
    border-radius: 1rem;
    text-transform: uppercase;
    letter-spacing: 8px;
    box-shadow: var(--color-shadow-element) 1px 1px 6px 0px;
}


.landing-page .presentation-box {
    display: flex;
}



.landing-page .box-desing {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40rem;
    border-radius: 1rem;
    margin: 20px;
    background-color: rgba(var(--background-color-0), 0.6);
    border: 2px solid rgba(var(--text-color-main-reverse), 0.8);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    
}



.landing-page .box-desing h6 {
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    color: rgb(var(--text-color-alt));
}

.landing-page .linked-button {
    display: flex;
    justify-content: center;
    align-self: center;

    transition: all 0.2s ease;
}

.landing-page .linked-button:hover {
    background-color: rgb(var(--background-color-0));
    transform: scale(1.04);
}


/* ----------------------- For dimentions of the logo ----------------------- */

.landing-page .github-logo {
    width: 23rem;
    padding: 20px;
}


/* -------------------------------------------------------------------------- */
/*                                 RESPONSIVE                                 */
/* -------------------------------------------------------------------------- */
