

html:has(.landing-page) {
    overflow-x: hidden;
}

.landing-page #hero-banner {
    width: 100%;
    height: calc(100vh + 2px);
    /* position: absolute; */
    border-bottom: 2px solid rgba(var(--text-color-alt), .5);
    background: radial-gradient( 3deg, rgb(var(--background-color-1)), rgb(var(--background-color-0)));
    background: radial-gradient(circle at bottom left, rgba(var(--text-color-alt), .3) 0%, rgba(var(--text-color-alt), .1) 50%, transparent 100%);
    padding-top: 250px;
}

.landing-page .affiliation-disclaimer {
    font-size: var(--font-size-13);
    background: rgb(var(--text-color-alt), .1);
    color: rgb(var(--text-color-alt));
    border: 1px solid rgb(var(--text-color-alt), .2);
    border-radius: 15px;
    width: max-content;
    padding: 5px 10px;
    margin: 0 auto;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    gap: 8px;
}
.landing-page .affiliation-disclaimer svg {
    height: 12px;
    transform: scale(1.6);
}
.landing-page .affiliation-disclaimer svg path {
    stroke: rgb(var(--text-color-alt));
}

.landing-page .text-center {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    width: min(654px, 100%);
    margin: 0 auto;
    padding-inline: 10px;
    /* margin-top: 300px; */
    text-align: center;
}

.landing-page h1 {
    font-size: var(--font-size-36);
}
.landing-page .heading-emphasis {
    color: rgb(var(--text-color-alt));
}
.landing-page p {
    color: rgb(var(--text-color-alt));
    margin: 0 auto;
    margin-top: 20px;
}

.landing-page .login-call-to-action {
    display: inline-block;
    margin-top: 45px;
    text-decoration: none;
    border: 2px solid rgb(var(--text-color-main));
    border-radius: 10px;
    font-weight: var(--font-weight-semi-bold);
    padding: 10px 15px;
    transition: .2s;
    outline: none;
    overflow: hidden;
}
.landing-page .login-call-to-action::after {
    content: "-->";
    display: inline-block;
    white-space: nowrap;
    padding: 0;
    opacity: 0;
    width: 0;
    transition: .2s;
}


.landing-page .login-call-to-action:is(:hover, :focus-visible) {
    background-color: rgb(var(--text-color-main));
    color: rgb(var(--text-color-main-reverse));
    box-shadow: 0 0 20px rgb(var(--text-color-main), .3);
}
.landing-page .login-call-to-action:is(:hover, :focus-visible)::after {
    content: "-->";
    opacity: 1;
    padding-left: 10px;
    width: 35px;
    color: rgb(var(--text-color-main-reverse));
}

.landing-page .login-call-to-action:active {
    opacity: .6;
}

.landing-page .fade-out-image {
    margin: 0 auto;
    margin-top: 100px;
    width: min(1200px, calc(100% - 40px));
    overflow: hidden;
    position: relative;
    transition: transform .3s ease;
}

.landing-page .fade-out-image:hover {
    transform: scale(1.025);
}

.landing-page .fade-out-image:has(.mobile) {
    width: min(350px, calc(100% - 40px));
}
.landing-page .fade-out-image:has(.tablet) {
    width: min(450px, calc(100% - 40px));
}
.landing-page .fade-out-image img {
    width: 100%;
    display: block;
    border: 1px solid rgba(var(--text-color-alt), .2);
    border-radius: 10px;
}
.landing-page .fade-out-image::after {
    content: "";
    background: linear-gradient(180deg, transparent, rgb(var(--background-color-0)) 90%, rgb(var(--background-color-0)));
    height: 90%;
    bottom: -1px;
    left: -1px;
    width: calc(100% + 2px);
    position: absolute;
}

#bento {
    margin-top: 200px;
    display: flex;
    flex-flow: column nowrap;
    width: min(740px, 100%);
    gap: 100px;
}
#bento h2 {
    font-size: var(--font-size-32)
}

#bento .bento-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(5, minmax(0, 1fr));
    gap: 20px;
    /* height: 700px; */
}

#bento .bento-card:hover {
    /* scale: 1.03; */
    transform: translateY(-4px);
    box-shadow: rgb(var(--background-color-0)) 0px 0px 0px 0px, rgb(var(--background-color-0), .1) 0px 0px 0px 1px, rgb(var(--text-color-alt), .1) 0px 1px 3px 0px, rgb(var(--text-color-alt), .1) 0px 1px 2px -1px, 0px 5px 8px -2px rgb(var(--text-color-alt), .2);
}
#bento .bento-card h4 {
    scale: 1;
    transition: .25s;
}
#bento .bento-card:hover h4 {
    scale: 1.1;
}
#bento .bento-card {
    border: 2px solid rgba(var(--text-color-alt), .2);
    border-radius: 10px;
    box-shadow: rgb(var(--background-color-0)) 0px 0px 0px 0px, rgb(var(--background-color-0), .1) 0px 0px 0px 1px, rgb(var(--text-color-alt), .1) 0px 1px 3px 0px, rgb(var(--text-color-alt), .1) 0px 1px 2px -1px;
    transition: .25s;
}

#bento .bento-outline-effect {
    height: 100%;
    background-color: rgb(var(--background-color-0));
    padding: 20px;
    border-radius: 8px;
    transition: background .2s;
}
#bento .bento-outline-effect:hover {
    background-color: rgba(var(--background-color-0), .95);
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 3 / 3; }
.div3 { grid-area: 2 / 1 / 4 / 2; }
.div4 { grid-area: 3 / 2 / 4 / 3; }
.div5 { grid-area: 4 / 1 / 5 / 2; }
.div6 { grid-area: 5 / 1 / 6 / 2; }
.div7 { grid-area: 4 / 2 / 6 / 3; }

.parallax-item {
    position: absolute;
}
.blob {
    opacity: .5;
    filter: blur(50px);
    animation: blob-rotate linear 5s infinite;
}
.blob1 {
    top: 160vh;
    width: 200px;
}
.blob2 {
    right: -50px;
    top: 130vh;
    width: 200px;
}

.blob path {
    fill: rgb(var(--text-color-alt))
}

@keyframes blob-rotate {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 359deg;
    }
}

