@font-face {
    font-family: "panton-rust-bold-base";
    src: url("/fonts/panton-rust-bold-base/panton-rust-bold-base.ttf") format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

.file-extension {
    fill: rgb(var(--text-color-main));
    font-family: panton-rust-bold-base;
    transition: 1s;
    letter-spacing: 2px;
    font-size: var(--font-size-24);

    -webkit-user-drag: none;
    user-drag: none;
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    -webkit-touch-callout: none; /* Safari */
}