.badge-container {
    transition: .3s;
    height: 100%;
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
}

.badge {
    height: 20px;
}

.inactivated {
    opacity: .25;
}