# nodeJS dependencies
node_modules
.DS_Store
dist
dist-ssr
*.local

# useless dependencies
replit.nix
.replit

# vite-config file
*.mjs
tsconfig.json
vite.config.json

# prevent build folder from being committed
dist
