

.window {
    margin: 20px;
    flex-basis: 200px;
    flex-grow: 1;
    min-width: 200px;
    height: auto;
    background-color: #484866;
    border-radius: 13px;
    box-shadow: 0px 0.4vh 2vh #000000;
}

.window-header {
    font-size: 1rem;
    display: block;
    background-color: #323257;
    border-radius: 13px;
    text-align: center;
    box-shadow: 0px 0.4vh 2vh #000000;
    padding: 0.5em;
}

.window-content {
    display: block;
    padding: 1em;
/*     margin-bottom: 1vh; */
    font-size: 2vh;
    max-height: 25vh;
    overflow: auto;
/*     -webkit-mask-image: linear-gradient(to bottom, transparent, white 10%, white 90%, transparent); */
}
