
.last-grades .window-content {
    container-type: size;
}

.last-grades .last-grades-container {
    /* padding-block: 20px; */
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    list-style-type: none;
    /* gap: 20px; */
}

.last-grades .last-grade-container {
    height: 100%;
    width: 100%;
}

.last-grades .last-grade-container:not(:last-child)::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 2px;
    background-color: rgba(var(--text-color-alt), .5);
    left: 50%;
    transform: translate(-50%, -1px);
}

.last-grades .last-grade-wrapper {
    height: 100%;
    width: 100%;
    padding-inline: 20px;
    text-decoration: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    transition: .1s background-color;
    outline: none;
}
.last-grades .last-grade-wrapper:is(:hover, :focus-visible) {
    background-color: rgba(var(--background-color-0), .2);
}
.last-grades .last-grade-wrapper:active {
    background-color: rgba(var(--background-color-0), .3);
}

.last-grades .last-grade-value {
    flex-basis: auto;
    background-color: rgb(var(--border-color-0));
    /* padding: 6px 22px; */
    padding: 6px 0;
    width: 72px;
    min-width: 55px;
    text-align: center;
    border-radius: 10px;
}

.last-grades .last-grade-name {
    flex-basis: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.last-grades .badges-container {
    white-space: nowrap;
    text-overflow: ellipsis;
    flex: 1;
    min-width: 20px;
    overflow-x: clip;
    
    display: flex;
    flex-flow: row nowrap;
    gap: 7px;
}

.last-grades .badges-container > div {
    flex-basis: auto;
    min-width: auto;
}

.last-grades .last-grade-date {
    flex-basis: auto;
    flex-shrink: 0;
    white-space: nowrap;
    color: rgb(var(--text-color-alt));
}

.last-grades .no-grade-placeholder {
    width: min(90%, 350px);
    margin: 0 auto;
    color: rgb(var(--text-color-alt));
    text-align: center;
}

@container (max-height: 175px) {
    .last-grades .last-grades-container {
        height: auto;        
    }

    .last-grades .last-grade-wrapper {
        padding-block: 13px;
    }
}

@media only screen and (max-width: 869px) {
    .last-grades .window-content {
        container-type: normal;
    }
    
    .last-grades .last-grades-container {
        height: auto;
    }

    .last-grades .last-grade-wrapper {
        padding: 20px 15px;
        gap: 10px;
    }
}
