.edp-logo {
    height: auto;
    justify-content: center;
}

.edp-logo .paths {
    fill: url("#gradient");
}

.start, .end {
    transition: var(--transition-time-change-theme);
}

.light .start {
    stop-color: #1743B5;
}
.light .end {
    stop-color: #5B42F1;
}

.dark .start {
    stop-color: #B4C9FF;
}
.dark .end {
    stop-color: #C1B7FF;
}


/* .light .start {
    stop-color: #1743B5;
    animation: light-start-gradient 0.3s;
}
.light .end {
    stop-color: #5B42F1;
    animation: light-end-gradient 0.3s;
}

.dark .start {
    stop-color: #B4C9FF;
    animation: dark-start-gradient 0.3s;
}
.dark .end {
    stop-color: #C1B7FF;
    animation: dark-end-gradient 0.3s;
} */


/* @keyframes light-start-gradient {
    0% {
        stop-color: #B4C9FF;
    }
    100% {
        stop-color: #1743B5;
    }
}

@keyframes light-end-gradient {
    0% {
        stop-color: #C1B7FF;
    }
    100% {
        stop-color: #5B42F1;
    }
}

@keyframes dark-start-gradient {
    0% {
        stop-color: #1743B5;
    }
    100% {
        stop-color: #B4C9FF;
    }
}

@keyframes dark-end-gradient {
    0% {
        stop-color: #5B42F1;
    }
    100% {
        stop-color: #C1B7FF;
    }
} */