
.edp-logo-full-width #EDP-logo {
    opacity: 0;
    animation: 0.3s ease 0s edp-logo-full-width-fade-in;
    animation-fill-mode: forwards;
}

.edp-logo-full-width #text > * {
    opacity: 0;
    transform: translateX(-100px);
    animation: 0.3s ease 0s fade-in-right;
    animation-fill-mode: forwards;
    animation-delay: calc(var(--order) * 200ms);
}


/* faudra changer ça */
.tritanopia .gradients .gradient-logo .start {
    stop-color: #9fd3db;
}
.tritanopia .gradients .gradient-logo .end {
    stop-color: #B4C3D1;
}

.light .gradients .gradient-logo .start {
    stop-color: #1743B5;
}
.light .gradients .gradient-logo .end {
    stop-color: #5B42F1;
}

.dark .gradients .gradient-logo .start {
    stop-color: #B4C9FF;
}
.dark .gradients .gradient-logo .end {
    stop-color: #C1B7FF;
}


.light .gradients .gradient-ecole .start {
    stop-color: #9fd3db;
}
.light .gradients .gradient-ecole .end {
    stop-color: #5942F0;
}

.light .gradients .gradient-ecole .start {
    stop-color: #1743B5;
}
.light .gradients .gradient-ecole .end {
    stop-color: #5942F0;
}

.dark .gradients .gradient-ecole .start {
    stop-color: #B4C9FF;
}
.dark .gradients .gradient-ecole .end {
    stop-color: #B8C4FF;
}


.light .gradients .gradient-directe .start {
    stop-color: #5942F0;
}
.light .gradients .gradient-directe .end {
    stop-color: #5A42F1;
}

.dark .gradients .gradient-directe .start {
    stop-color: #B8C3FF;
}
.dark .gradients .gradient-directe .end {
    stop-color: #BDBCFF;
}


.light .gradients .gradient-plus .start {
    stop-color: #5A42F1;
}
.light .gradients .gradient-plus .end {
    stop-color: #5B42F1;
}

.dark .gradients .gradient-plus .start {
    stop-color: #BEBBFF;
}
.dark .gradients .gradient-plus .end {
    stop-color: #C1B7FF;
}

@keyframes fade-in-right {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes edp-logo-full-width-fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
