.fill-text-alt {
    fill: rgb(var(--text-color-alt));
}

.stroke-text-alt {
    stroke: rgb(var(--text-color-alt));
}

.fill-text-main {
    fill: rgb(var(--text-color-main));
}

.stroke-text-main {
    stroke: rgb(var(--text-color-main));
}

.fill-text-soft-error-main {
    fill: rgb(var(--text-color-soft-error-main));
    ;
}

.stroke-text-soft-error-main {
    stroke: rgb(var(--text-color-soft-error-main));
    ;
}

.fill-03A981 {
    fill: #03A981;
}

.fill-00D3A0 {
    fill: #00D3A0;
}

.fill-AFB5C7 {
    fill: #AFB5C7;
}

.fill-F5F6FF {
    fill: #F5F6FF;
}

.fill-09D504 {
    fill: #09D504;
}

.fill-0A8300 {
    fill: #0A8300;
}

.fill-FFE600 {
    fill: #FFE600;
}

.fill-FCB500 {
    fill: #FCB500;
}

.fill-61FF5E {
    fill: #61FF5E;
}

.fill-13A90F {
    fill: #13A90F;
}

.fill-FF9900 {
    fill: #FF9900;
}

.stroke-D15800 {
    stroke: #D15800;
}

.fill-background-0 {
    fill: rgb(var(--background-color-0));
}

.stroke-background-0 {
    stroke: rgb(var(--background-color-0));
}

.stroke-border-1 {
    stroke: rgb(var(--border-color-1));
}

.stroke-border-0 {
    stroke: rgb(var(--border-color-0));
}

.fill-border-0 {
    fill: rgb(var(--border-color-0));
}

.fill-E42626 {
    fill: #E42626;
}

.fill-star {
    fill: #FFF;
}

.fill-3CFFDC {
    fill: #3CFFDC;
}

.stroke-canardman-background-0 {
    stroke: #181829;
}

.fill-canardman-background-0 {
    fill: #181829;
}

.fill-canardman-background-1 {
    fill: rgb(var(--background-color-canarman-main))
}

.fill-white {
    fill: white;
}

.stroke-white {
    stroke: white;
}

.fill-C50000 {
    fill: #C50000;
}

.fill-1A73E8 {
    fill: #1A73E8;
}

.fill-E1392C {
    fill: #E1392C;
}

.fill-FBBD07 {
    fill: #FBBD07;
}

.fill-229342 {
    fill: #229342;
}

.fill-B4B4F0 {
    fill: #B4B4F0;
}

.paint0_linear_2312_103 {
    fill: url(#paint0_linear_2312_103);
}

.paint1_radial_2312_103 {
    fill: url(#paint1_radial_2312_103);
}

.paint2_radial_2312_103 {
    fill: url(#paint2_radial_2312_103);
}

.paint3_radial_2312_103 {
    fill: url(#paint3_radial_2312_103);
}

.paint4_radial_2312_103 {
    fill: url(#paint4_radial_2312_103);
}

.paint5_radial_2312_103 {
    fill: url(#paint5_radial_2312_103);
}

.paint6_radial_2312_103 {
    fill: url(#paint6_radial_2312_103);
}

.paint7_radial_2312_103 {
    fill: url(#paint7_radial_2312_103);
}

.paint8_radial_2312_103 {
    fill: url(#paint8_radial_2312_103);
}

.paint9_radial_2312_103 {
    fill: url(#paint9_radial_2312_103);
}

.paint10_radial_2312_103 {
    fill: url(#paint10_radial_2312_103);
}

.paint11_linear_2312_103 {
    fill: url(#paint11_linear_2312_103);
}

.paint0_linear_2387_19 {
    fill: url(#paint0_linear_2387_19);
}

.paint0_linear_2388_27 {
    fill: url(#paint0_linear_2388_27);
}

.paint1_radial_2388_27 {
    fill: url(#paint1_radial_2388_27);
}

.paint2_linear_2388_27 {
    fill: url(#paint2_linear_2388_27);
}

.paint3_radial_2388_27 {
    fill: url(#paint3_radial_2388_27);
}

.paint4_radial_2388_27 {
    fill: url(#paint4_radial_2388_27);
}

.paint5_radial_2388_27 {
    fill: url(#paint5_radial_2388_27);
}

.fill-8787B4 {
    fill: #8787B4;
}

.fill-canardman-main {
    fill: rgb(var(--background-color-canarman-main));
}

.fill-181829 {
    fill: #181829;
}
