
.info-button {
    width: 30px;
    height: 30px;
    cursor: pointer;
    outline: none;
}

.info-button .info-icon:focus-within {
    outline: none;
}

.info-button .info-icon :is(.fill, .stroke) {
    transition: 0.1s;
}

.info-button .info-icon .fill {
    fill: rgb(var(--border-color-0));
}
.info-button .info-icon .stroke {
    stroke: rgb(var(--border-color-0));
}

.info-button:hover .info-icon .fill,
.info-button:focus-within .info-icon .fill {
    fill: rgb(var(--text-color-alt));
}
.info-button:hover .info-icon .stroke,
.info-button:focus-within .info-icon .stroke {
    stroke: rgb(var(--text-color-alt));
}
