body:has(#account) {
    background-color: rgb(var(--background-color-1));
}

#account {
    height: 100%;
    padding: 30px clamp(10px, calc(4vw), 30px);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    gap: clamp(20px, 3vw, 50px);
}

#account .frame {
    background-color: rgba(var(--border-color-0), 0.2);
    border: 1px solid rgb(var(--border-color-0));
    border-radius: 10px;
    padding: 15px;
}

#account .frame .frame-heading {
    text-align: center;
    font-size: var(--font-size-20);
    padding-block: 20px;
}

#student-informations {
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}

#profile-picture-container {
    aspect-ratio: 1/1;
    width: 120px;
    border-radius: 15px;
    background-color: white;
    overflow: hidden;
    text-align: center;
}

#profile-picture-container img {
    width: 100%;
    transform: translateY(-10px);
}

#informations-container {
    font-style: normal;
    height: inherit;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    word-break: break-all;
}

#statistics {
    flex: 1;
    min-width: max-content;
}

/* TODO: enlever quand plus WIP */
#profile.frame {
    display: flex;
    flex-flow: column nowrap;
}

#documents.frame {
    display: flex;
    flex-flow: column nowrap;
    overflow: auto;
}
#documents .file-name {
    font-size: 18px;
}

.coming-soon {
    height: 100%;
    color: rgb(var(--text-color-alt));
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 20px;
    border: 2px solid rgb(var(--text-color-alt));
    border-radius: 8px;
    opacity: .5;
}

#profile .coming-soon {
    margin-top: 30px;
}

#account #profile {
    --diagonal: repeating-linear-gradient(128deg,
            rgb(14, 21, 46) 0%,
            rgb(31, 25, 100) 3.8%,
            rgb(31, 25, 100) 4.5%,
            rgb(31, 25, 100) 5.2%,
            rgb(14, 21, 46) 10%,
            rgb(14, 21, 46) 12%);
}

#account #documents {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}


/* COMPORTEMENT */

#account #behavior {
    display: flex;
    flex-flow: column nowrap;
}

#account .behavior-types {
    padding-block: 20px;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

#account .behavior-type {
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    flex: 1;
}

#account .behavior-type:not(:last-child) {
    border-right: 1px solid rgb(var(--border-color-0));
}

#account .behavior-type .count {
    font-size: var(--font-size-36);
    /* flex: 1; */
    margin: auto;
    display: flex;
}


.loading span {
    animation: loading-point 6s ease-in-out calc(0.4s * var(--index)) infinite;
}

@media only screen and (max-width: 869px) {
    #account {
        height: auto;
        grid-template-columns: auto;
        grid-template-rows: auto;
    }

    #account #documents {
        grid-column: auto;
        grid-row: 3 / 4;
    }

    #account .frame .frame-heading {
        padding-block: 10px;
    }

}

@keyframes loading-point {
    0% {
        transform: translateY(0);
    }

    5.5% {
        transform: translateY(-5px);
    }

    11% {
        transform: translateY(0);
    }
}

.file-component {
    z-index: 0 !important;
    margin: 5px;
    background-color: transparent;
    border: none;
    height: 70px;
}

.file-component .file-icon {
    width: 50px
}

.document-category h3 {
    font-weight: var(--font-weight-semi-bold);
    display: flex;
    align-items: center;
    margin: 0;
    /* To remove any default margins from the h3 */
    /* Optional: adjust based on your design */
}

.document-category h3::after {
    content: '';
    flex-grow: 1;
    height: 1px;
    margin-left: 15px;
    /* Space between title and the line */
    background-color: rgb(var(--border-color-0));
    /* Customize color as needed */
    border: none;
}

.year-selector {
    width: 160px;
}

.frame-heading-container {
    display: flex;
    flex: auto 200px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.frame-heading-documents {
    margin: 0 auto;
    padding-left: 160px;
}

@media only screen and (max-width: 1150px) {
    .frame-heading-documents {
        padding-left: 0;
    }
}

.file-box {
    display: flex;
    align-items: center;
}

.file-box-loader {
    display: grid;
    grid-template-columns: 3.5fr .5fr;
    gap: 10px;
}

.file-date {
    margin-left: auto;
    margin-right: 30px;
    font-size: var(--font-size-16);
    font-weight: 500;
}

.no-available-documents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 15px;
    color: rgb(var(--text-color-alt));
}

.document-container {
    height: 100%;
}

.single-year {
    padding-left: 0 !important;
}

.documents-container {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.sleeping-logo {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}