
.outline-effect-div {
    position: relative;
    --gradient-color: rgb(var(--text-color-alt));
}

:is(.balanced, .quality) .outline-effect-div::before {
    border-radius: var(--border-radius);
}
.outline-effect-div::before {
    position: absolute;
    inset: -2px;
    z-index: -1;
    content: "";
    background: radial-gradient(250px circle at var(--mouse-x) var(--mouse-y), var(--gradient-color) 0, transparent 100%);
    will-change: background;
}

.outline-effect-div .inner-container {
    border-radius: calc(var(--border-radius) - 2px);
}
