
.scroll-shaded-div {
    max-height: 100%;
    overflow: hidden;
    position: relative;
}

.scroll-shaded-div .content {
    overflow: auto;
    max-height: inherit;
}

.scroll-shaded-div :is(.content:focus, .content:focus-within) {
    outline: none;
}

.top-shadow,
.bottom-shadow {
    position: absolute;
    left: 0;
    width: 100%;
    height: 30px;
    transition: 0.25s;
    opacity: 0;
    pointer-events: none;
}

.top-shadow {
    top: 0;
    background: radial-gradient(
        ellipse 65% 100% at 50% 0,
        rgba(0, 0, 0, var(--alpha-shadow-color-scroll-shaded-div)),
        rgba(0, 0, 0, 0)
    );
}

/* .top-shadow {
    top: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, var(--alpha-shadow-color-scroll-shaded-div)), rgba(0, 0, 0, 0));
}
 */
/* .bottom-shadow {
    bottom: 0;
    background: radial-gradient(
        farthest-side at 50% 100%,
        rgba(0, 0, 0, var(--alpha-shadow-color-scroll-shaded-div)),
        rgba(0, 0, 0, 0)
    );
} */

.bottom-shadow {
    bottom: 0;
    background: radial-gradient(
        ellipse 75% 100% at 50% 100%,
        rgba(0, 0, 0, var(--alpha-shadow-color-scroll-shaded-div)),
        rgba(0, 0, 0, 0)
    );
}