.relative-container {
    position: relative;
}

#pop-up-background:has(#info-pop-up) {
    padding: 25px;
}

#info-pop-up .close-button {
    position: absolute;
    top: -12px; /*valeurs négatives pour counter le padding du pop-up-background*/
    right: -10px;
    background: none;
    line-height: 22px; /* vu que la croix est pas très haute ça faisait que l'origine y se trouvait vla haut par rapport à la croix alors que l'origine x était bonne dcp ça crashait à l'affichage*/
    border: none;
    color: rgb(var(--text-color-alt));
    font-size: var(--font-size-24);
    font-weight: var(--font-weight-extra-bold);
    cursor: pointer;
    transition: .1s;
}
#info-pop-up .close-button:is(:hover, :focus-visible) {
    color: rgb(var(--text-color-main));
}
#info-pop-up .close-button:active {
    color: rgba(var(--text-color-main), .7);
}

#close-info-pop-up {
    display: block;
    width: 100%;
    text-align: center;
    background: none;
    line-height: 1;
    border: none;
    margin-top: 25px; /*=padding pop-up-background*/
    font-size: var(--font-size-18);
    color: rgb(var(--text-color-main));
    text-decoration: underline;
    cursor: pointer;

}

#close-info-pop-up:hover {
    text-decoration: none;
}

/* content heading */

#info-pop-up-header {
    margin-bottom: 25px; /*= padding pop-up-background*/
}

#info-pop-up h2 {
    font-size: var(--font-size-20);
    color: rgb(var(--text-color-main));
    margin-right: 20px; /*laisse de l'espace à la croix*/
}

#info-pop-up h4 {
    font-size: var(--font-size-14);
    color: rgb(var(--text-color-main));
    font-weight: var(--font-weight-regular);
}

#info-pop-up-content h3 {
    display: block;
    position: sticky; /* sticky dans la box de contenu lors du scroll */
    top: -10px;
    padding: 10px 0;
    padding-top: 20px; /* pas obligatoire d'avoir 20 mais pour avoir un moment ou le h3 monte puis un moment ou il est sticky*/
    margin: 0;
    font-weight: var(--font-weight-extra-bold); 
    font-size: var(--font-size-18);
    color: rgb(var(--text-color-main));
    background-color: rgb(var(--background-color-0));
    /* opacity: .90; */
    box-shadow: 0 0 8px rgb(var(--background-color-0));
}

.warning #info-pop-up-content h3 {
    /* background-color: rgb(var(--background-color-warning-0)); */
    background-color: rgb(var(--background-color-warning-0));
    /* box-shadow: 0 0 8px rgb(var(--background-color-warning-0)); */
    box-shadow: 0 0 10px rgba(var(--background-color-error), 0.5),
                0 0 10px rgba(var(--background-color-0), 0.5);
}

#info-pop-up-content {
    position: relative;
    margin: 0 auto;
    background-color: rgb(var(--background-color-0));
    border-radius: 20px;
    padding: 15px;
    padding-top: 0;
    /* max-height: 300px; */
    max-height: 375px;
    /* max-height: 500px; */
    /* max-height: 640px; */
    overflow-y: auto;
    list-style-position: inside;
}

.warning #info-pop-up-content {
    background-color: rgb(var(--background-color-warning-0));
}

@media only screen and (max-width: 400px) {    
    #info-pop-up-header {
        margin-inline: 10px;
    }
    #pop-up-background:has(#info-pop-up) {
        padding-inline: 15px;
    }
    #info-pop-up .close-button {
        right: 0;
    }
}
