#notifications-container {
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    width: 350px;
    margin: 20px;
    pointer-events: none;
}

.pop-up-notification {
    background-color: rgba(var(--background-color-2), 0.6);
    -webkit-backdrop-filter: blur(4px) brightness(0.8); /* safari */
    backdrop-filter: blur(4px) brightness(0.8);
    box-shadow: var(--box-shadow-element);
    animation: new-notification 0.5s ease forwards;
    border-radius: 15px;
    margin-bottom: 15px;
    padding: 15px;
    padding-right: 30px;
    position: relative;
    pointer-events: auto;
    transition: 0.1s;
}

:root:not(.performance) .pop-up-notification:hover {
    background-color: rgba(var(--background-color-2), 0.8);
}

.pop-up-notification .emphasis {
    font-weight: var(--font-weight-extra-bold);
}

:root.performance .pop-up-notification {
    background-color: rgb(var(--background-color-2));
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    border: 1px solid rgb(var(--border-color-2));
}

.closing {
    animation: del-notification 0.5s ease-in forwards;
}

.fast-closing {
    animation: del-notification 0.2s ease-in forwards;
}

.notification-close-arrow {
    width: 15px;
    rotate: 270deg;
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
}

.notification-close-arrow path {
    stroke: rgb(var(--text-color-alt));
    stroke-width: 3px;
    transition: 0.2s;
}

.notification-close-arrow:hover path {
    stroke: rgb(var(--text-color-main));
}

:root:not(.performance) .extension-warning {
    transition: .2s;
    background-color: rgba(var(--background-color-warning-1), 0.4) !important;
}

:root.performance .extension-warning {
    background-color: rgb(var(--background-color-warning-1));
}

:root:not(.performance) .extension-warning:hover:not(:has(a:hover)) {
    background-color: rgba(var(--background-color-warning-1), 0.7) !important;
}

.extension-warning hr {
    margin-block: 5px;
}

.extension-warning svg.notification-close-arrow path {
    stroke: rgb(238, 170, 170);
}

.extension-warning svg.notification-close-arrow:hover path {
    stroke: white;
}

.edpu-notification-description {
    display: flex;
    padding: 5px;
    gap: 15px;
}

.edpu-notification-description svg {
    flex-grow: 1;
}

.extension-download-link {
    padding-top: 10px;
    display: flex;
    gap: 20px;
}

.extension-download-link a {
    appearance: none;
    text-decoration: none;
    padding: 0.5em;
    border-radius: 10px;
    flex-grow: 1;
    text-align: center;
}

.extension-download-link a:first-child {
    border: 2px solid rgba(var(--border-color-soft-error), .5);
    transition: .2s;
    flex-grow: 2;
}
.extension-download-link a:first-child:hover {
    border: 2px solid rgba(var(--border-color-soft-error), 1);
    background-color: rgba(var(--background-color-error), .6);
    flex-grow: 2.5;
}

.extension-download-link a:last-child {
    flex-grow: 1;
    background-color: rgba(var(--background-color-error), .6);
    transition: .2s;
}

.extension-download-link a:last-child:hover {
    flex-grow: 1.5;
    filter: brightness(.85);
}

@keyframes new-notification {
    0% {
        opacity: 0.5;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes del-notification {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(50%);
        opacity: 0;
    }
}