body:has(#bottom-sheet) {
    overflow: hidden;
}

#pop-up {
    position: fixed;
    inset: 0;
    
    background-color: rgba(0, 0, 0, 0.4);
    animation: 0.3s ease 0s fade-in;
    animation-fill-mode: forwards;
    z-index: 99;
}

#pop-up.closing {
    animation: 0.3s ease 0s fade-out;
    animation-fill-mode: forwards;
}

#pop-up-background {
    position: fixed;
    top: 50%;
    left: 50%;
    filter: blur(10px);
    transform: translate(-50%, -50%) scale(0.8);
    padding: 25px;
    border-radius: 20px;
    width: 100%;
    max-width: 400px;
    max-height: 100%;
    overflow-y: auto;
    box-shadow: var(--box-shadow-window);
    filter: none;
    /* cubic-bezier(.31,1.83,.53,.63) */
    animation: 0.3s ease-out 0s blur-in;
    animation-timing-function: var(--timing-function-spring-effect);
    animation-fill-mode: forwards;
}

#pop-up-background.info {
    background-color: rgb(var(--background-color-2));
}

#pop-up-background.warning {
    background-color: rgb(var(--background-color-warning-1));
    box-shadow: rgb(var(--background-color-warning-1))
}

#pop-up-background.error {
    background-color: rgb(var(--background-color-error));
    box-shadow: rgb(var(--background-color-error))
}

#pop-up-background.closing {
    animation: 0.3s ease-out 0s blur-out;
    animation-fill-mode: forwards;
}

.relative-container {
    position: relative;
}

#pop-up-background .close-button {
    position: absolute;
    top: -12px; /*valeurs négatives pour counter le padding du pop-up-background*/
    right: -10px;
    background: none;
    line-height: 22px; /* vu que la croix est pas très haute ça faisait que l'origine y se trouvait vla haut par rapport à la croix alors que l'origine x était bonne dcp ça crashait à l'affichage*/
    border: none;
    color: rgb(var(--text-color-main));
    font-size: var(--font-size-24);
    font-weight: var(--font-weight-extra-bold);
    cursor: pointer;
}

#close-pop-up {
    display: block;
    width: 100%;
    text-align: center;
    background: none;
    line-height: 1;
    border: none;
    margin-top: 25px; /*=padding pop-up-background*/
    font-size: var(--font-size-18);
    color: rgb(var(--text-color-main));
    text-decoration: underline;
    cursor: pointer;

}

#close-pop-up:hover {
    text-decoration: none;
}

/* content heading */

#pop-up-header {
    margin-bottom: 25px; /*= padding pop-up-background*/
}

#pop-up h2 {
    font-size: var(--font-size-20);
    color: rgb(var(--text-color-main));
    margin-right: 20px; /*laisse de l'espace à la croix*/
}

#pop-up h4 {
    font-size: var(--font-size-14);
    color: rgb(var(--text-color-main));
    font-weight: var(--font-weight-regular);
}

#pop-up-background #pop-up-content h3 {
    display: block;
    position: sticky; /* sticky dans la box de contenu lors du scroll */
    top: -10px;
    padding: 10px 0;
    padding-top: 20px; /* pas obligatoire d'avoir 20 mais pour avoir un moment ou le h3 monte puis un moment ou il est sticky*/
    margin: 0;
    font-weight: var(--font-weight-extra-bold);
    font-size: var(--font-size-18);
    color: rgb(var(--text-color-main));
    background-color: rgb(var(--background-color-0));
    /* opacity: .90; */
    box-shadow: 0 0 8px rgb(var(--background-color-0));
}

#pop-up-background.warning #pop-up-content h3 {
    /* background-color: rgb(var(--background-color-warning-0)); */
    background-color: rgb(var(--background-color-warning-0));
    /* box-shadow: 0 0 8px rgb(var(--background-color-warning-0)); */
    box-shadow: 0 0 10px rgba(var(--background-color-error), 0.5),
                0 0 10px rgba(var(--background-color-0), 0.5);
}

#pop-up-background #pop-up-content {
    position: relative;
    margin: 0 auto;
    background-color: rgb(var(--background-color-0));
    border-radius: 20px;
    padding: 15px;
    padding-top: 0;
    max-height: 300px;
    overflow-y: auto;
    list-style-position: inside;
}

#pop-up-background.warning #pop-up-content {
    background-color: rgb(var(--background-color-warning-0));
}

@media only screen and (max-width: 400px) {
    #pop-up-background {
        padding-inline: 15px;
    }
    
    #pop-up-header {
        margin-inline: 10px;
    }
    
    #pop-up-background .close-button {
        right: 0;
    }
}

@keyframes fade-in {
    from {
        background-color: rgba(0, 0, 0, 0);
        backdrop-filter: blur(0px);
    }
    to {
        background-color: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(10px);
    }
}

@keyframes fade-out {
    from {
        background-color: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(14px);
    }
    to {
        background-color: rgba(0, 0, 0, 0);
        backdrop-filter: blur(0px);
    }
}

@keyframes blur-in {
    from {
        opacity: 0;
        filter: blur(10px);
        transform: translate(-50%, -50%) scale(0.8);
    }
    to {
        opacity: 1;
        filter: blur(0px);
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes blur-out {
    from {
        opacity: 1;
        filter: blur(0px);
        transform: translate(-50%, -50%) scale(1);
    }
    to {
        opacity: 0;
        filter: blur(10px);
        transform: translate(-50%, -50%) scale(0.8);
    }
}