
.button {
    display: block;
    margin: 0 auto;
    font-size: var(--main-font-size-18);
    font-weight: var(--main-font-weight-semi-bold);
    padding: 10px 15px;
    min-width: 0;
    border: 2px solid var(--main-border-color-0);
    border-radius: 15px;
    background-color: transparent;
    color: white;
    outline: none;
    transition: 0.1s;
    cursor: pointer;
}

.button:hover, .button:focus-visible {
    background-color:  var(--main-border-color-0);
    border-color: var(--main-border-color-1);
}

.button.submitter::after {
    content: " ->";
}

.button.submitter:hover::after {
    content: " -->";
}

.button.submitter.submitting::after {
    content:"";
    background-image: url('./images/loading-animation.svg');
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-left: 10px;
    transform: translateY(2px) scale(1.5);
}

.button.submitter.submitted {
    background-color: rgba(var(--background-color-success), 0.15);
    border-color: rgb(var(--border-color-success));
}

.button.submitter.submitted:after {
    content:"";
    background-image: url('./images/checked-icon.svg');
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    width: 19px;
    height: 13px;
    margin-left: 8px;
    transform: translateY(1px);
}
