/* animation WIP */

.drop-down-menu {
    width: 100%;
    max-width: 250px;
    font-size: var(--font-size-16);
    max-height: calc(3em + 4px); /* 2 padding + 1 font-size + 2*border-width */
    isolation: isolate;
}

.drop-down-menu.focus {
    z-index: 99;
}

.drop-down-menu.focus .main-container {
    box-shadow: var(--box-shadow-element);
}

.drop-down-menu .main-container {
    display: block;
    position: relative;
    height: auto;
    overflow: hidden;
    font-size: var(--font-size-16);
    border: 2px solid rgb(var(--border-color-0));
    background-color: rgb(var(--background-color-1));
    border-radius: 15px;
    transition: all 0.2s;
    transition: border-color 0.1s;
}


.drop-down-menu button.selected {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    font-size: var(--font-size-16);
    border: none;
    color: rgb(var(--text-color-main));
    background-color: transparent;
    cursor: pointer;
    transition: 0.1s;
}

.drop-down-menu button.selected:hover, .drop-down-menu button.selected:focus {
    background-color: color-mix(in srgb, rgba(var(--background-color-focus)) 50%, transparent);
    outline: none;
}

.drop-down-menu .main-container:hover, .drop-down-menu.focus .main-container, .drop-down-menu .main-container:has(:focus) {
    border: 2px solid rgb(var(--border-color-1));
}
    
.drop-down-menu.focus button.selected {
    /* background-color: #3E3D98; */
    background-color: rgba(var(--background-color-focus));
}

#selected-option-value {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
}


.drop-down-menu .selected img {
    height: 10px;
    vertical-align: middle;
    transform-origin: center;
    rotation: 0;
    transition: 0.2s;
    transition-delay: 0.1s;
}

.drop-down-menu.focus .selected img {
    rotate: -180deg;
}


.drop-down-menu fieldset.options-container {
    display: none;
    position: relative;
    max-height: min(350px, 100vh);
    height: auto;
    /* height: 0; */
    overflow: auto;
    background-color: rgb(var(--background-color-1));
    border: none;
    z-index: 99;
    transition: all 0.2s;
}
.drop-down-menu.focus fieldset.options-container {
    display: flex;
    flex-flow: column nowrap;
}

.drop-down-menu:hover fieldset.options-container {
    /* height: auto; */
    /* height: 250px; */
}


.drop-down-menu label.option {
    display: block;
    padding: 0.7em 1em;
    width: 100%;
    border: none;
    /* text-align: left; */
    text-align: justify;
    cursor: pointer;
    transition: all 0.2s;
}

.drop-down-menu:hover label.option {
    height: auto;
}


.drop-down-menu label.option:hover, .drop-down-menu label.option:focus {
    background-color: rgba(var(--background-color-2), 0.6);
    outline: none;
}

.drop-down-menu span.option-content {
    transition: 0.2s;
}

.drop-down-menu .option:hover span.option-content, .drop-down-menu .option:focus span.option-content {
    margin-left: 0.5em;
}

.drop-down-menu .option img {
    margin: 0 0%;
    margin-right: 1em;
    text-align: left;
    vertical-align: middle;
    transform: scale(100%);
    transition: 0.2s;
}


.drop-down-menu hr {
    margin: 0 1em;
    border: none;
    background-color: rgb(var(--border-color-1));
    height: 1px;
}

.drop-down-menu input[type="radio"] {
    appearance: auto;
    display: none;
}