.drop-down-menu {
    color: rgb(var(--main-alt-text-color));
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: 100px;
    background-color: rgb(var(--background-color-1));
    border: none;
    border-radius: 10px;
    height: 3em;
}

.loader {
    display: none;
}

.drop-down-menu button, .drop-down-menu .option-container {
    color: rgb(var(--main-alt-text-color));
    border: none;
    background-color: transparent;
    border-radius: 10px;
}

.drop-down-menu .option-container:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.drop-down-menu .selected {
    
    display: block;
    background-color: rgba(255, 255, 255, 0.05);
    border: solid 2px rgb(var(--border-color-1));
    border-radius: 10px;
}

.selected-option {
    background-color: red;
}