/* animation WIP */

.drop-down-menu {
    width: 100%;
    max-width: 250px;
    font-size: var(--font-size-16);
    max-height: calc(2em + 20px + 4px); /* 2 padding + 1 font-size + 2*border-width */
}

.drop-down-menu.focus {
    isolation: isolate;
    z-index: 1;
}

.drop-down-menu.focus .main-container {
    box-shadow: var(--box-shadow-element);
}

.drop-down-menu .main-container {
    display: block;
    position: relative;
    height: auto;
    overflow: hidden;
    font-size: var(--font-size-16);
    border: 2px solid rgb(var(--border-color-0));
    /* background-color: rgb(var(--background-color-1)); */
    border-radius: 15px;
    transition: all 0.2s, border-color 0.1s, height 0s;
}


.drop-down-menu button.selected {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    font-size: var(--font-size-16);
    border: none;
    color: rgb(var(--text-color-main));
    background-color: transparent;
    cursor: pointer;
    transition: 0.1s;
}

.drop-down-menu button.selected:hover, .drop-down-menu button.selected:focus {
    background-color: color-mix(in srgb, rgba(var(--background-color-focus)) 50%, transparent);
    outline: none;
}

.drop-down-menu .main-container:hover, .drop-down-menu.focus .main-container, .drop-down-menu .main-container:has(:focus) {
    border: 2px solid rgb(var(--border-color-1));
}
    
.drop-down-menu.focus button.selected {
    /* background-color: #3E3D98; */
    background-color: rgba(var(--background-color-focus));
}

.drop-down-menu.focus .main-container {
    isolation: isolate;
    z-index: 50;
}

#selected-option-value {
    flex: 1;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
    color: rgb(var(--text-color-main));
}


.drop-down-menu .selected svg {
    height: 10px;
    vertical-align: middle;
    transform-origin: center;
    rotate: none;
    transition: 0.2s var(--timing-function-spring-effect);
    transition-delay: 0.1s;
}

.drop-down-menu:active .selected svg {
    transform: translateY(5px);
}

.drop-down-menu.focus .selected svg {
    rotate: -180deg;
}

.drop-down-menu .animation-wrapper {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows .2s ease, visibility .2s;
    visibility: hidden;
}

.drop-down-menu.focus .animation-wrapper {
    grid-template-rows: 1fr;
    visibility: visible;
}

.drop-down-menu fieldset.options-container {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    height: auto;
    /* min-height: 0; */
    max-height: min(350px, 100vh);
    overflow: hidden;
    background-color: rgb(var(--background-color-1));
    border: none;
    z-index: 99;
    transition: all 0.2s;
}

.drop-down-menu.focus fieldset.options-container.overflow-auto {
    overflow: auto;
}

.drop-down-menu label.option {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 1em;
    
    padding: 0.7em 1em;
    width: 100%;
    border: none;
    /* text-align: justify; */
    cursor: pointer;
    transition: all 0.2s;
}

.drop-down-menu:hover label.option {
    height: auto;
}


.drop-down-menu label.option:hover, .drop-down-menu label.option:focus {
    background-color: rgba(var(--background-color-2), 0.6);
    outline: none;
}


.drop-down-menu .option:hover, .drop-down-menu .option:focus {
    gap: 1.5em;
}

.drop-down-menu span.option-content {
    color: rgb(var(--text-color-main));
    transition: 0.2s;
    flex-shrink: 999;
}

.drop-down-menu .option svg {
    margin: 0;
    /* margin-right: 1em; */
    text-align: left;
    vertical-align: middle;
    transform: scale(100%);
    transition: 0.2s;
}

.drop-down-menu .option svg.selected-arrow {
    width: 10px;
}
.drop-down-menu .option svg.not-selected-option {
    /* 2 margin + width = 10px */
    margin: 2px;
    width: 6px;
}

.drop-down-menu hr {
    margin-inline: 1em;
    border: none;
    background-color: rgb(var(--border-color-1));
    height: 1px;
}

.drop-down-menu input[type="radio"] {
    appearance: auto;
    display: none;
}