
.segmented-control {
    flex-direction: row; 
    display: flex;
    width: 100%;
    border: 3px solid var(--main-border-color-0);
    border-radius: 15px;
    overflow: hidden;
}

button.option {
    border: none;
    border-right: 1px solid var(--main-border-color-0);
    font-size: var(--main-font-size-18);
    padding: 0.5em;
    min-width: 0;
    white-space: nowrap; /* enfer pour les utilisateurs mobile */
    overflow: hidden;
    text-overflow: ellipsis; /* cut un texte avec points de suspension*/
    color: var(--main-text-color); /* safari */
    background-color: transparent;
    flex-grow: 1;
    transition: 0.1s;
    cursor: pointer;
}

button.option:hover {
    background-color: var(--main-border-color-1);
}

button.option:last-child {
    border: none;
}

button.option.selected {
    background-color: var(--main-border-color-0);
    flex-grow: 2;
}
