
fieldset.segmented-control {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    min-width: 0;
    border: 2px solid rgb(var(--border-color-0));
    border-radius: 15px;
    user-select: none;
    -webkit-user-select: none;
}

fieldset.segmented-control:focus-within {
    border-color: rgb(var(--border-color-1));
}

.segmented-control label.option input {
    /* retire l'input du stacking-context */
    position: absolute;
    outline: none;
}

.segmented-control label.option {
    border: none;
    border-inline: 1px solid rgb(var(--border-color-0));
    font-size: var(--font-size-18);
    padding: 0.5em;
    min-width: 0;
    text-align: center;
    white-space: nowrap; /* enfer pour les utilisateurs mobile */
    overflow: hidden;
    text-overflow: ellipsis; /* cut un texte avec points de suspension*/
    color: rgb(var(--text-color-alt)); /* safari */
    background-color: transparent;
    flex-grow: 1;
    outline: none;
    transition: 0.2s;
    cursor: pointer;
}

.segmented-control label.option:hover {
    background-color: rgb(var(--background-color-focus));
}

.segmented-control label.option:first-child {
    border-left: none;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
}

.segmented-control label.option:last-child {
    border-right: none;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
}

.segmented-control label.option.selected {
    background-color: rgb(var(--border-color-0));
    flex-grow: 1.2;
    color: rgb(var(--text-color-main)); /* safari */
}
