.input-container {
    border: 2px solid rgb(var(--border-color-0));
    border-radius: 15px;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    /* ancienne height : 2.8em */
    height: 3em;
    overflow: hidden;
}


.input-container:hover {
    border-color: rgba(var(--border-color-1), 0.8);
}

.input-container:focus-within {
    background-color: #4B48D940;
    border-color: rgb(var(--border-color-1));
}

.text-input {
    border: none;
    display: block;
    font-size: var(--main-font-size-18);
    padding: 10px;
    padding-right: 0;
    flex-grow: 1;
    min-width: 0;
    background-color: transparent;
    color: rgb(var(--text-color-main));
    outline: none;
}

div.input-container:has(:disabled) {
    opacity: 0.5;
    cursor: not-allowed;
}

input.text-input:disabled {
    cursor: not-allowed;
}

img.input-icon {
    height: 100%;
    width: auto;
    padding: 10px;
}
