
.header-button {
    /* position: relative; */
    color: rgb(var(--text-color-main));
    text-decoration: none;
    height: inherit;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: 0.2s;
    outline: none;
}

.header-button.selected {
    background-color: rgba(var(--text-color-main), 0.10);
    color: white;
}
.header-button:hover, .header-button:focus-visible {
    background-color: rgba(var(--text-color-main), 0.15);
}
.header-button:active {
    background-color: rgba(var(--text-color-main), 0.20);
}

.header-button svg {
    height: 60px;
}

.header-button svg [class="fill-text-main"] {
    transition: fill 0.2s;
}
.header-button:not(.selected) svg [class="fill-text-main"] {
    fill: rgb(var(--text-color-alt));
}

.header-button svg [class="stroke-text-main"] {
    transition: stroke 0.2s;
}
.header-button:not(.selected) svg [class="stroke-text-main"] {
    stroke: rgb(var(--text-color-alt));
}

.header-button .icon-container {
    position: relative;
}

.header-button .notifications {
    position: absolute;
    top: 0;
    left: 42px;
    /* right: -5px; */
    color: white;
    background-color: red;
    border-radius: 50px;
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-inline: 3px; */

    text-align: center;
    font-weight: var(--font-weight-semi-bold);
    z-index: 50;

    animation: notification-pop-in .2s ease forwards;
}

.header-button .notifications.new {
    background-color: rgb(var(--background-color-1));
    color: rgb(var(--text-color-main));
    width: 52px;
    /* animation: new-feature-notification-animation .8s ease alternate forwards;
    animation-iteration-count: 20; */
    left: 40px;
}

.light .header-button .notifications.new {
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}

/* @keyframes new-feature-notification-animation {
    from {
        scale: .9;
    }
    to {
        scale: 1;
    }
} */

@keyframes notification-pop-in {
    from {
        opacity: 0;
        scale: 0;
    }
    to {
        opacity: 1;
        scale: 1;
    }

}

.header-button .header-button-title {
    text-align: center;
    font-weight: var(--font-weight-semi-bold);
    color: rgb(var(--text-color-alt));
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 0.2s;
}

.header-button.selected .header-button-title {
    color: rgb(var(--text-color-main));    
}