
.graphics .top-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 20px;
}

.graphics h3 {
    font-size: var(--font-size-20);
    display: flex;
    align-items: center;
}

.artificial-horizontal-center {
    width: 250px; /* = DropDownMenu width*/
}

.chart-container {
    position: relative;
}
