.mobile-results {
    padding-inline: 20px;
}

.mobile-row:last-child {
    border-bottom: none;
}

.mobile-row {
    padding: 5px;
    border-bottom: rgb(var(--background-color-3)) solid 1px;
}

.mobile-subject-row {
    text-align: center;
}

.mobile-grade-row {
    display: flex;
    padding: 10px;
    flex-flow: row wrap;
    row-gap: 10px;
}

.mobile-head-name {
    display: inline-block;
    text-decoration: none;
    min-width: 0;
    width: auto;
    min-width: 0;
    /* position: absolute; */
    margin-left: auto;
    outline: none;
    border: 2px solid transparent;
    padding: 8px;
    border-radius: 10px;
    -webkit-user-drag: none;
    transition: 0.15s;
}

.subject-row .mobile-head-name:is(:hover, :focus-visible) {
    background-color: rgba(var(--text-color-main), 0.10);
}
.subject-row .mobile-head-name:active {
    background-color: rgba(var(--text-color-main), 0.15);
}
.mobile-head-name.selected {
    border-color: rgba(var(--text-color-main), 0.7);
}