.mobile-results {
    padding-inline: 20px;
}

.mobile-row:last-child {
    border-bottom: none;
}

.mobile-row {
    padding: 5px;
    border-bottom: rgb(var(--background-color-3)) solid 1px;
}

.mobile-category-row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: row wrap;
    padding: 15px;
    gap: 10px;
}

.category-averages {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.mobile-category-row .mobile-head-name {
    font-size: var(--font-size-18);
    font-weight: var(--font-weight-extra-bold);
    display: inline-block;
    text-decoration: none;
    min-width: 0;
    width: auto;
    min-width: 0;
    outline: none;
    border-radius: 10px;
    -webkit-user-drag: none;
    transition: 0.15s;
}

.mobile-subject-row {
    text-align: center;
    padding: 8px;
}

.mobile-grade-row {
    display: flex;
    padding: 10px;
    row-gap: 10px;
}

.mobile-subject-row .mobile-head-name {
    display: inline-block;
    text-decoration: none;
    min-width: 0;
    width: auto;
    min-width: 0;
    outline: none;
    border: 2px solid transparent;
    border-radius: 10px;
    -webkit-user-drag: none;
    transition: 0.15s;
    padding: 8px;
}

.subject-row .mobile-head-name:is(:hover, :focus-visible) {
    background-color: rgba(var(--text-color-main), 0.10);
}

.subject-row .mobile-head-name:active {
    background-color: rgba(var(--text-color-main), 0.15);
}

.mobile-head-name.selected {
    border-color: rgba(var(--text-color-main), 0.7);
}

.mobile-grade-row {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: flex-start;
}