
.results-options-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 20px;
}

.results-options-container .drop-down-menu {
    flex: 1;
    max-width: initial;
}

.results {
    scroll-behavior: smooth;
    scroll-padding: 20px;
}

.results #WIP-disclaimer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    max-width: 80%;
    color: rgb(var(--text-color-alt));
}

.grade-simulation-trigger {
    background-color: rgb(var(--background-color-3));
    opacity: 0.5;
    padding: 10px;
    border-radius: 12px;
    height: 2.25em;
    cursor: pointer;
    transition: 0.15s;
}

.grade-simulation-trigger:hover {
    opacity: 1;
}

#SUN-form p {
    color: rgb(var(--text-color-alt));
    font-size: var(--font-size-13);
}

#SUN-form .grade-simulation-field {
    display: flex;
    margin-block: 20px;
    align-items: center;
    font-size: var(--font-size-16);
    text-wrap: nowrap;
}

.simulation-input {
    padding: 0;
    margin-inline: 5px;
    width: 52px;
    border-bottom: 3px solid rgb(var(--border-color-0));
    border-radius: 10px;
    height: min-content;
    padding: 5px;
}

.simulation-input input {
    font-size: var(--font-size-16);
    padding: 0;
    margin: 0;
}

.simulation-input div {
    display: none;
}

#SUN-form .grade-simulation-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    font-size: var(--font-size-13);
    margin-top: 25px;
}

.simulation-form-button {
    margin: 0;
    font-size: var(--font-size-15);
    border: none;
    border-radius: 10px;
}

.simulation-form-button.close, .simulation-form-button.close:hover {
    background-color: #70707080;
    padding: 6px 30px;
}

.simulation-form-button.submit, .simulation-form-button.submit:hover {
    background-color: rgb(var(--border-color-0));
    padding: 6px 15px;
}

.simulation-form-button:hover {
    filter: brightness(0.9);
}