
.results-options-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 20px;
}

.results-options-container .drop-down-menu {
    flex: 1;
    max-width: initial;
}

.results {
    scroll-behavior: smooth;
    scroll-padding: 20px;
}

.results #WIP-disclaimer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    max-width: 80%;
    color: rgb(var(--text-color-alt));
}