
.results-options-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 20px;
}

.results-options-container .drop-down-menu {
    flex: 1;
    max-width: initial;
}

.results {
    scroll-behavior: smooth;
    scroll-padding: 20px;
}

.results:has(rect) {
    display: flex;
}

.grade-simulation-trigger {
    background-color: rgb(var(--background-color-3));
    margin-right: 10px;
    padding: 10px;
    border-radius: 12px;
    height: 2.25em;
    width: 2.25em;
    opacity: 0.5;
    cursor: pointer;
    transition: 0.1s;
    outline: none;
}
.grade-simulation-trigger:is(:hover, :focus-visible) {
    opacity: 1;
}
.grade-simulation-trigger:active {
    opacity: .8;
}


#pop-up-background:has(#SUN-form) {
    max-width: 370px;
}

.grade-simulation-pop-up #pop-up-background.info .default-closing-cross {
    width: 35px;
    height: 35px;
    background-color: rgb(var(--background-color-0), .5);
    border-radius: 10px;
}
.grade-simulation-pop-up #pop-up-background.info .default-closing-cross:is(:hover, :focus-visible) {
    background-color: rgb(var(--background-color-0), .4);
}
.grade-simulation-pop-up #pop-up-background.info .default-closing-cross:active {
    background-color: rgb(var(--background-color-0), .8);
}

#SUN-form h2 {
    margin-bottom: 25px;
}

#SUN-form p {
    color: rgb(var(--text-color-alt));
    font-size: var(--font-size-13);
}

#SUN-form .grade-simulation-field {
    display: flex;
    margin-block: 15px;
    align-items: center;
    font-size: var(--font-size-16);
    text-wrap: nowrap;
}

#SUN-form .simulation-input {
    padding: 0;
    margin-inline: 5px;
    width: 52px;
    border-radius: 10px;
    height: min-content;
    padding: 5px;
}

#SUN-form .simulation-input input {
    font-size: var(--font-size-16);
    padding: 0;
    margin: 0;
}

#SUN-form .grade-simulation-wrapper {
    padding: 25px;
    padding-bottom: 10px;
}

#SUN-form .grade-simulation-buttons {
    font-size: var(--font-size-13);
    padding: 12px;
    background-color: rgb(var(--background-color-0), .5);
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

#SUN-form .simulation-form-button {
    margin: 0;
    font-size: var(--font-size-15);
    border: none;
    border-radius: 10px;
    padding: 6px 16px;
    border: 2px solid transparent;
}

#SUN-form .simulation-form-button.close {
    color: rgb(var(--text-color-alt));
}
#SUN-form .simulation-form-button.close:is(:hover, :focus-visible) {
    background-color: transparent;
    border-color: rgb(var(--text-color-alt));
}
#SUN-form .simulation-form-button.close:active {
    background-color: rgb(var(--text-color-alt), .2);
}

#SUN-form .simulation-form-button.submit {
    background-color: rgb(var(--border-color-0));
}
#SUN-form .simulation-form-button.submit:is(:hover, :focus-visible) {
    filter: brightness(1.15);
}
#SUN-form .simulation-form-button.submit:active {
    filter: brightness(0.9);
}