
.window.streak-score {
    background: linear-gradient(180deg, rgb(var(--background-color-1)) 15px, rgb(var(--background-color-streak-0)) 16px, rgb(var(--background-color-streak-0)) 17px, rgb(var(--background-color-streak-1)) 100%);
}

.streak-score .window-content {
    overflow: hidden;
}

.streak-score .streak-info {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: auto;
}
.streak-score .streak-info * {
    pointer-events: auto;
    
}


.streak-score .streak-info #stop-color-start {
    stop-color: #ff3000;
}
.streak-score .streak-info #stop-color-end {
    stop-color: #ff3000;
    transition: 0.2s;
}

.streak-score .streak-info:is(:hover, :focus-within) #stop-color-end {
    stop-color: #FF7A00;
}

.streak-score .streak-info [class="fill"] {
    fill: url(#streak-info-gradient) !important;
}
.streak-score .streak-info  [class="stroke"] {
    stroke: url(#streak-info-gradient) !important;
}
.streak-score .streak-info #circle-point {
    fill: #ff3000 !important;
}

.streak-score .arrow-outline {
    width: 25px;
    opacity: 0;
    scale: 0;
    animation: pop-in 0.3s ease forwards;
    animation-delay: calc(var(--order) * 60ms);
}

.streak-score .arrow-outline.right {
    transform: rotate(180deg);
}

.streak-score .score {
    height: 100%;
    /* padding: 5px; */
    /* font-size: var(--font-size-48); */
    font-size: 6.9rem;
    font-weight: var(--font-weight-extra-bold);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.streak-score .score span {
    text-align: center;
    margin-block: 10px;
    flex-basis: 100px;
    display: flex;
    justify-content: center;
    font-variant: tabular-nums;
}

.streak-score .score-high-score {
    position: absolute;
    bottom: 7px;
    left: 7px;
    font-size: var(--font-size-16);
    color: rgba(var(--text-color-main), .8);
    font-weight: var(--font-weight-semi-bold);
}

.streak-score .score-high-score span {
    color: rgba(var(--text-color-main), .8);
}

/* et non pas pop-it */
@keyframes pop-in {
    from {
        scale: 0;
        opacity: 0;
    }
    to {
        scale: 1;
        opacity: 1;
    }
}

@media only screen and (max-width: 869px) {
    .window.streak-score {
        min-height: 160px;
    }
}