

#messaging .inbox-window-header {
    height: 50px;
    border-radius: 15px 15px 0 0;
    box-shadow: none;
    border-bottom: 1px solid rgba(var(--text-color-alt), .5);
    position: relative;
}

#inbox {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

#inbox .inbox-search-input {
    background-color: rgb(var(--background-color-0), .5);
    border: none;
    background-color: none;
    border-radius: 0;
}
#inbox .inbox-search-input .text-input-container {
    border-radius: 0;
    border: none;
    background-color: none;
}
#inbox .inbox-search-input .text-input-container:is(:hover, :focus-within) {
    background-color: rgb(var(--background-color-0), rgb(var(--text-color-alt), .5));
}

#inbox .messages-container {
    height: 100%;
}

#inbox .messages-container ul {
    list-style-type: none;
    overflow: hidden;
}

#inbox .message-container {
    position: relative;
    text-align: left;
    padding: 10px;    
    border-left: 4px solid rgb(var(--text-color-alt), .5);
    border-bottom: 1px solid rgb(var(--text-color-alt), .5);
    opacity: 0;
    --opacity: .6;
    outline: none;
    cursor: pointer;
    animation: jump-in 0.5s var(--timing-function-spring-effect) forwards;
    animation-delay: calc(var(--order) * 60ms);
}

@keyframes jump-in {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    
    to {
        opacity: var(--opacity);
        transform: translateY(0);
    }
}

#inbox .message-container:last-child {
    border-bottom: none;
}

#inbox .message-container[data-read=false] {
    border-left: 4px solid rgb(var(--text-color-alt));
    padding-left: 6px;
    --opacity: 1;
}

#inbox .message-container:is(:hover, :focus-visible) {
    background-color: rgba(var(--background-color-0), .2);
}
#inbox .message-container.selected {
    --opacity: .8;
    background-color: rgba(var(--background-color-focus));
}

#inbox .message-container :is(.message-author, .message-date) {
    color: rgb(var(--text-color-alt))
}

#inbox .message-container .message-subject {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    gap: 5px;
}

#inbox .message-container .message-subject .author-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-shrink: 1;
}
#inbox .message-container .message-subject .actions {
    display: flex;
    flex-flow: row nowrap;
    gap: 12px;
}

#inbox .message-container .attachment-icon {
    height: 16px;
    transform: scale(1.3);
}

#inbox .message-container .mark-as-unread {
    display: none;
    border: none;
    background-color: transparent;
    transition: .1s;
    cursor: pointer;
    outline: none;
}
#inbox .message-container .mark-as-unread:is(:hover, :focus-visible) .mark-as-unread-icon path {
    stroke: rgb(var(--text-color-alt));
}
#inbox .message-container .mark-as-unread .mark-as-unread-icon {
    height: 16px;
    transform: scale(1.35) translateY(-1px);
}
#inbox .message-container:is(:hover, :focus-visible, :focus-within, .selected) .mark-as-unread {
    display: block;
}
#inbox .message-container[data-read=false] .mark-as-unread {
    opacity: .2;
    pointer-events: none;
}

:fullscreen #inbox ul {
    display: flex;
    flex-flow: row wrap;
}
:fullscreen .message-container {
    flex-basis: 25%;
}
:fullscreen #inbox .message-container:last-child {
    border-bottom: none;
}


#inbox .no-message-received {
    color: rgb(var(--text-color-alt));
    display: flex;
    height: 100%;
    padding: 75px 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
