
.message-reader-window-header {
    padding-inline: 15px;
}

#message-reader {
    height: 100%;
}

#message-reader hr {
    border: none;
    height: 2px;
    background-color: rgb(var(--text-color-alt), .5);
}

#message-reader .email-header {
    display: flex;
    flex-flow: column nowrap;
    padding: 10px;
}

#message-reader .email-header .author {
    color: rgb(var(--text-color-alt));
}

#message-reader .email-header h3 {
    text-align: center;
}

#message-reader .email-header .send-date {
    text-align: right;
    color: rgb(var(--text-color-alt))
}

#message-reader .message-container {
    display: flex;
    flex-flow: column nowrap;
    background-color: rgba(var(--background-color-2), 1);
    height: 100%;
    border-radius: 15px;
}

#message-reader .message-content-container {
    height: 100%;
}

#message-reader .reveal-spoiler-container {
    z-index: 1;
    background-color: rgba(var(--text-color-main-reverse), .5);
    border: 1px solid rgb(var(--text-color-main), .5);
    padding: 20px;
    border-radius: 10px;
    width: min(800px, 90%);
    text-align: center;
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
}
#message-reader .reveal-spoiler {
    display: block;
    background-color: transparent;
    border: 2px solid rgb(var(--text-color-main));
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 600;
    margin: 0 auto;
    cursor: pointer;
    transition: .1s;
}
#message-reader .reveal-spoiler:is(:hover, :focus-visible) {
    background-color: rgb(var(--text-color-main));
    color: rgb(var(--text-color-main-reverse));
}
#message-reader .reveal-spoiler:active {
    background-color: rgb(var(--text-color-main), .2);
}
#message-reader .message-content.spoiler {
    filter: blur(4px);
    user-select: none;
    -webkit-user-drag: none;
}
#message-reader .message-content {
    padding: 20px;
    overflow: auto;
}

/* We take some liberties to make the emails more readable overall */
#message-reader .message-content > div {
    max-width: 800px;
    margin: 0 auto;
}

#message-reader .message-content > div > p:has(> img) {
    text-align: center;
}
/* end */

#message-reader .email-footer {
    height: 100px;
    overflow: hidden;
    display: flex;
}


@media (max-width: 869px) {
    #message-reader .email-footer {
        height: 130px;
    }
}

@media (max-width: 600px) {
    #message-reader .email-footer {
        height: 200px;
        flex-direction: column;
    }

    .actions-container {
        margin: auto;
    }
}

#message-reader .attachments-container {
    list-style-type: none;
    height: 100%;
    width: max-content;
    padding: 15px;
    display: flex;
    flex-flow: row nowrap;
    flex: 1;
    gap: 15px;
    overflow-x: auto;
    white-space: nowrap;
}

#message-reader .attachments-container .attachment {
    height: 100%;
    padding-inline: 15px;
    background-color: transparent;
    font-size: var(--font-size-16);
    border: 1px solid rgba(var(--text-color-alt), .5);
    border-radius: 8px;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 15px;
    outline: none;
    cursor: pointer;
    transition: .1s;
}

#message-reader .attachments-container .attachment:is(:hover, :focus-visible) {
    background-color: rgba(var(--text-color-alt), .1);
}
#message-reader .attachments-container .attachment:active {
    background-color: rgba(var(--text-color-alt), .2);
}

#message-reader .attachments-container .attachment .download-icon {
    height: 20px;
}

#message-reader .no-selected-message-placeholder {
    color: rgb(var(--text-color-alt));
    width: 100%;
    padding: 75px 20px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}



.attachments-container li {
    list-style-type: none;
    min-width: fit-content;
    margin-right: 10px;
}

.actions-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
}

.action-button {
    width: 40px;
    height: 40px;
    padding: 5px;
    background-color: transparent;
    border: 1px solid rgba(var(--text-color-alt), .5);
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
}

.action-button:is(:hover, :focus-visible) {
    background: rgb(var(--background-color-3));
    transition: .2s;
}
.action-button path {
    stroke: rgb(var(--text-color-alt));
}

.scroll-footer-div {
    flex: 1;
}

.no-attatchemnts-messages p {
    color: rgb(var(--text-color-alt));
    padding-left: 15px;
}

.no-attatchemnts-messages {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cannot-click {
    pointer-events: none;
}

.not-allowed {
    cursor: not-allowed !important;
}

.action-button-main {
    margin: 5px;
    width: 40px;
    height: 40px;
    min-width:auto;
}