
#feedback-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 100%;
    max-width: 700px;
    max-height: 100%;
    padding: 20px;
    overflow-y: auto;

    background-color: var(--main-background-color-0-5);
    border: 1px solid var(--main-border-color-0);
    border-radius: 20px;
}

#feedback-box h1 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 35px;
}

#SC-feedback-type {
    margin-bottom: 20px;
}

#feedback-subject {
    margin-bottom: 20px;
}

textarea#feedback-content {
    display: block;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 80px;
    height: 150px;
    max-height: 400px;
    
    color: var(--main-text-color);
    font-size: var(--main-font-size-16);
    background-color: var(--main-background-color-0-5);
    border: 2px solid var(--main-border-color-0);
    border-radius: 15px;
    padding: 10px;
    outline: none;
}

textarea#feedback-content:focus {
    background-color: var(--main-color-focus);
}

.file-input {
    margin-block: 20px;
}

div.drop-zone {
    position: relative;
    border: 2px dashed var(--main-border-color-0);
    border-radius: 15px;
    cursor: pointer;
}

div.drop-zone.file-hovered {
    background-color: var(--main-color-focus);
}

div.drop-zone:focus-within {
    border-color: var(--main-border-color-1);
}

#preview-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;
}

#preview-container label {
    text-align: center;
    color: var(--main-alt-text-color);
}

#preview-container img#file-preview {
    display: none;
    height: 50px;
}

.drop-zone input#attached-file {
    display: block;
    width: 100%;
    padding: 20px;
    opacity: 0;
    cursor: pointer;
}

input#attached-file#file-upload-button {
    cursor: pointer;
    opacity: 1;
}

/* rester anonyme + email */
#contact {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#user-email {
    display: inline;
    min-width: 0;
    width: auto;
    margin: 0;
    flex-grow: 1;
}

p#usage-info {
    color: var(--main-alt-text-color);
    text-align: right;
    font-size: var(--main-font-size-14)
}

#submit-feedback {
    margin-top: 20px;
}

@media only screen and (max-width: 500px) {
    #feedback-box {
        position: absolute;
        top: 0;
        left: 0;
        transform: none;
        width: 100%;
        height: 100%;

        border: none;
        border-radius: 0;
        
    }
}
