
#login-form.background-task {
    display: none;
}


.login-bottom-sheet #bottom-sheet-box {
    max-width: clamp(600px, 60vw, 800px);
}

.login-bottom-sheet .explanation {
    text-align: center;
    color: rgb(var(--text-color-alt));
    margin-bottom: 25px;
}

.login-bottom-sheet #login-form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.login-bottom-sheet #login-bs-logout {
    color: rgb(var(--text-color-alt));
    width: max-content;
    margin: 0 auto;
    cursor: pointer;
    transform: translateY(-10px);
    outline: none;
    transition: .1s;
}

.login-bottom-sheet #login-bs-logout:is(:hover, :focus-visible) {
    text-decoration: underline;
}
.login-bottom-sheet #login-bs-logout:active {
    opacity: .8;
}
