
#proxy-error-notification.temp-disclaimer {
    width: 95%;
    max-width: 750px;
}

.login-logo {
    position: absolute;
    left: 20px;
    top: 20px;
    height: 50px;
    width: auto;
}

.login-logo#outside-container {
    display: block;
}

.login-logo#inside-container {
    display: none;
}

.login-box {
    padding: 6px 28px;
    text-align: center;
    position: absolute;
    width: 100vw;
    max-width: 480px;
    min-width: 0;
    max-height: 100%;
    overflow-y: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 1px solid rgb(var(--border-color-0)); */
    border-radius: 20px;
    background-color: rgb(var(--background-color-1));
    box-shadow: var(--box-shadow-window);
    z-index: 1;
}

.login-box .info-button {
    position: absolute;
    top: 8px;
    right: 8px;
    margin: 3px;
}

.login-box h1 {
    color: rgb(var(--text-color-main));
    font-size: var(--font-size-42);
    font-weight: var(--font-weight-extra-bold);
    margin: 3rem 0 3.5rem 0;
}

/* .login-box :is(.login-input, #submit-login, .login-option) {
    margin-bottom: 20px;
} */

/* .login-option {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
} */

/* .login-option a#password-forgotten-link {
    text-align: right;
    text-decoration: none;
    color: rgb(var(--text-color-alt));
    cursor: pointer;
} */
/* .login-option a#password-forgotten-link:hover {
    color: rgba(var(--text-color-alt), 0.7);
} */

p.policy {
    width: calc(100vw - 2*50px); /* fullscreen width - taille de EDPVersion */
    text-align: center;
    position: absolute;
    font-size: var(--font-size-14);
    color: rgb(var(--text-color-alt));
    left: 50%;
    bottom: 10px; /* aligne avec la baseline du numéro de version */
    transform: translateX(-50%);
}

#login .policy-link {
    text-decoration: none;
    color: rgb(var(--border-color-1));
    font-size: var(--font-size-14);
    cursor: pointer;
}

#login .policy-link:hover {
    color: rgb(var(--border-color-0));    
}

@media only screen and (max-width: 460px) {
    body :has(.login) {
        background-color: rgb(var(--background-color-1)) !important;
    }

    /* Solution de gros golem exécutée par des professionnels à ne pas reproduire à la maison*/
    .login-logo#outside-container {
        display: none;
    }
    
    .login-logo#inside-container {
        display: block !important;
        position: static;
        top: auto;
        left: auto;
        transform: none;
        margin: 5dvh auto; /*dvh = dynamic vh -> prend en compte la barre de recherche sur mobile */
        width: 90px;
        height: auto;
    }

    .login-box {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: none;
        box-shadow: none;
        border: none;
        border-radius: 0;
        /* background-color: transparent; */
        background-color: rgb(var(--background-color-1));
        margin: 0;
        /* padding: 5px; */
        padding: 6px 28px;
        min-width: 0;
        width: 100%;
        z-index: auto;
    }
    
    .login-box h1 {
        font-size: 10vw;
        margin-top: 0;
    }


    #login p.policy {
        font-size: 0;
    }

    #login .policy-link {
        /*font-size: min(var(--font-size-16), 4.5vw);*/
        font-size: var(--font-size-16);
    }
}

