/*1vh = 7.5px*/

.error-message {
    color: var(--main-color-error);
}
.warning-message {
    color: var(--main-color-soft-error);
    margin-top: calc(15px * -1);
    margin-bottom: 5px;
}

p.policy {
    width: 80vw;
    text-align: center;
    position: absolute;
    font-size: min(var(--main-font-size-16), 4vmin);
    z-index: -1;
    left: 50%;
    bottom: 10px; /* aligne avec la baseline du numéro de version */
    transform: translateX(-50%);
}

.policy2 {
    text-decoration: none;
    color: #6D6AFB;
}

.logo {
    position: absolute;
    left: 15px;
    top: 15px;
    width: 70px;
    height: auto;
}

.logo#outside-container {
    display: block;
}

.logo#inside-container {
    display: none;
}

.login-box {
    padding: 6px 28px;
    text-align: center;
    position: absolute;
    width: 100vw;
    max-width: 480px;
    min-width: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid var(--main-border-color-0);
    border-radius: 20px;
    background-color: var(--main-window-header-color);
    box-shadow: var(--main-box-shadow);
}

.login-box h1 {
    font-size: var(--main-font-size-42);
    font-weight: var(--main-font-weight-extra-bold);
    margin: 3rem 0 3.5rem 0;
}

.login-box .login-input,
.login-box #submit-login,
.login-box .login-option,
.login-box .error-message {
    margin-bottom: 20px;
}

.login-option {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.login-option #passwordForgottenLink {
    text-align: right;
    text-decoration: none;
    color: var(--main-alt-text-color);
    cursor: pointer;
}

@media only screen and (max-width: 410px) {
    /* body {
        background-color: #323257;
    } */

    /* Solution de gros golem exécutée par des professionnels à ne pas reproduire à la maison*/
    .logo#outside-container {
        display: none;
    }
    
    .logo#inside-container {
        position: static;
        top: 0;
        left: 0;
        transform: none;
        width: 100px;
        height: auto;
        display: block;
        margin: 5dvh auto; /*dvh = dynamic vh -> prend en compte la barre de recherche sur mobile */
    }

    .login-box {
        /* background-color: transparent; */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: none;
        box-shadow: none;
        border: none;
        border-radius: 0;
        background-color: var(--main-background-color-0-5);
        margin: 0;
        padding: 5px;
        min-width: 0;
        width: 100%;
        z-index: -99;
    }
    
    .login-box h1 {
        font-size: 10vw;
        margin-top: 0;
    }

    .login-box .login-input, .login-box .login-option {
        width: 90%;
        margin: 0 auto 20px auto;
    }
}
