#forms-main {
    height: 100%;
  }
  
  .form-reader-window-content {
    height: 100%;
    width: 100%;
  }
  
  .no-form-selected {
    color: rgb(var(--text-color-alt));
    width: 100%;
    padding: 75px 20px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .form {
    border-left: 4px solid rgb(var(--text-color-alt), 0.5);
    border-bottom: 1px solid rgb(var(--text-color-alt), 0.5);
    padding: 10px;
    cursor: pointer;
  }
  
  .form:hover {
    background-color: rgba(var(--background-color-0), 0.2);
  }
  
  .form-title {
    font-weight: bold;
  }
  
  li {
    list-style: none;
    display: grid;
    grid-template-columns: 9fr 1fr;
  }
  
  .form-body-title {
    text-align: center;
  }
  
  .form-body {
    margin-top: 1vh;
    margin-left: 1vw;
  }
  