.calendar .month {
    display: flex;
    justify-content: space-between;
    background-color: #323257;
    border-radius: 15px;
    padding: 7px;
    margin: 15px 15px 10px 15px;
    font-weight: bolder;
}

.calendar .arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    aspect-ratio: 1 / 1;
    border-radius: 8px;
    transition: .15s;
    background-color: rgba(var(--text-color-alt), 0);
    cursor: pointer;
    outline: 4px solid rgba(var(--text-color-alt), 0);
}

.calendar .arrow svg path {
    stroke: white;
}

.calendar .arrow:hover {
    background-color: rgba(var(--text-color-alt), 0.1);
    outline: 4px solid rgba(var(--text-color-alt), 0.1);
}

.calendar .arrowleft {
    transform: rotate(90deg);
}

.calendar .arrowright {
    transform: rotate(-90deg);
}

.calendar .month-name {
    font-size: 1.2em;
}

.calendar .weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-bottom: 10px;
}

.calendar .weekdays span {
    text-align: center;
    font-weight: bold;
}

.calendar .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px 0px;
    margin-bottom: 10px;
}

.calendar .day {
    text-align: center;
    padding: 3px;
    border-radius: 100%;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
    width: 30px;
    height: 30px;
    transition: background-color 0.15s;
    margin: auto;
    line-height: 1.5;
}

.calendar .day:hover {
    background-color: rgba(var(--text-color-alt), 0.1);
}

.calendar .blue {
    background-color: #3f3cc9;
}

.calendar .red {
    background-color: #c93f3f;
}

.calendar .green {
    background-color: #3fc93f;
}

.calendar .grey {
    color: #9191a3;
}

.calendar .selected {
    outline: 2px solid #cde1e5;
}

.calendar .today {
    background-color: #3f3cc9;
}

.calendar .buttons {
    display: flex;
    justify-content: space-between;
    margin: 20px 15px 15px 15px;
    gap: 10px;
}

.calendar .buttonReturn {
    min-width: 130px;
}

.calendar .progressContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    padding: 0 15px;
}

.calendar .progressBar {
    /* display: none; */
    width: 100%;
    border-radius: 10px;
    background-color: #b4b4f0;
    height: 15px;
    color: #6867b3;
    display: none;
}

.calendar progress {
    color: #6867b3;
}

.calendar progress::-moz-progress-bar {
    background: #6867b3;
}