.detailed-task {
    display: flex;
    flex-direction: column;
    gap: 5px
}

.task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.task-header h4 {
    font-size: var(--font-size-16);
}

.task-header label {
    font-weight: 600;
}

.task-subtitle {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
}

.detailed-task .add-date {
    display: inline-block;
    color: rgb(var(--text-color-alt));
    font-size: var(--font-size-14);
}

.detailed-task .task-content {
    margin-block: 5px;
    padding: 15px;
    border-radius: 10px;
}

.dark .detailed-task .task-content {
    background-color: rgba(0, 0, 0, 0.15);
}

.light .detailed-task .task-content {
    background-color: rgba(255, 255, 255, 0.3);
}

.task-footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 10px;
}

.task-footer .task-footer-button {
    padding: 8px;
    border-radius: 10px;
    flex: 1;
    background-color: rgba(var(--background-color-3), .5);
    color: rgb(var(--text-color-alt));
    
    display: flex;
    align-items: center;
    transition: .1s;
    cursor: pointer;
    text-decoration: none;
}

.task-footer .task-footer-button.disabled {
    pointer-events: none;
    opacity: 0.7;
}
.task-footer .task-footer-button:is(:hover, :focus-visible) {
    background-color: rgb(var(--background-color-3));
}
.task-footer .task-footer-button:active {
    background-color: rgb(var(--background-color-3), .7);
}

