.task {
    cursor: pointer;
    background-color: rgb(var(--background-color-2));
    border: 3px solid rgb(var(--background-color-3));
    border-radius: 10px;
    transition: .1s;
    text-decoration: none;
    flex-shrink: 0;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    outline: none;
    overflow: hidden;
}

.task.done {
    opacity: .4;
}

.task.done:is(:hover, :focus-visible) {
    opacity: 1;
}

.task .task-title {
    padding: 0.75em;
    text-align: end; /* When a title wrap */
}

.task .check-box {
    display: flex;
    width: 45px;
    background-color: rgb(var(--background-color-3));
    border-right: 3px solid rgb(var(--background-color-3));;
    justify-content: center;
    flex-shrink: 0;
}

.task .check-box :is(input, input:checked) {
    border: none;
    background-color: transparent;
}

.light .task .check-box input {
    background-image: url("data:image/svg+xml,%3Csvg width='126' height='90' viewBox='0 0 126 90' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.00999 29.4982L4.7539 27.7442C8.77118 23.7036 15.3475 23.8312 19.205 28.0246L47.306 58.5723C48.849 60.2496 51.4795 60.3007 53.0864 58.6844L108.318 3.13256C112.228 -0.799963 118.591 -0.799963 122.501 3.13256L122.99 3.62419C126.868 7.5247 126.868 13.8249 122.99 17.7254L52.9741 88.147C51.4102 89.72 48.8649 89.72 47.301 88.147L3.00999 43.5994C-0.868052 39.6989 -0.868055 33.3987 3.00999 29.4982Z' fill='black'/%3E%3C/svg%3E");
}

.dark .task .check-box input {
    background-image: url("data:image/svg+xml,%3Csvg width='126' height='90' viewBox='0 0 126 90' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.00999 29.4982L4.7539 27.7442C8.77118 23.7036 15.3475 23.8312 19.205 28.0246L47.306 58.5723C48.849 60.2496 51.4795 60.3007 53.0864 58.6844L108.318 3.13256C112.228 -0.799963 118.591 -0.799963 122.501 3.13256L122.99 3.62419C126.868 7.5247 126.868 13.8249 122.99 17.7254L52.9741 88.147C51.4102 89.72 48.8649 89.72 47.301 88.147L3.00999 43.5994C-0.868052 39.6989 -0.868055 33.3987 3.00999 29.4982Z' fill='white'/%3E%3C/svg%3E");
}

.task .check-box input {
    opacity: 0;
    background-color: rgba(var(--background-color-focus));
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
    transition: .1s !important;
}

.task .check-box:is(:hover, :has(:focus-visible)) input {
    opacity: .25;
}

.task .check-box input:checked {
    opacity: 1;
}

.task:has(.check-box:not(:is(:hover, :focus-visible))):is(:hover, :focus-visible) {
    background-color: rgba(var(--background-color-3), .4);
}

.task:has(.check-box:not(:is(:hover, :focus-visible))):active {
    background-color: rgba(var(--background-color-1), .1);
    filter: brightness(.9);
}

.task .add-date {
    display: inline-block;
    color: rgb(var(--text-color-alt));
    font-size: var(--font-size-14);
}

:is(.task, .detailed-task) .interrogation-alert {
    display: inline-block;
    padding: 5px 10px;
    background-color: rgba(var(--background-color-soft-error), .3);
    color: rgb(var(--text-color-soft-error-main));
    border: 1px solid rgb(var(--text-color-soft-error-main), .3);
    border-radius: 7px;
}
.task .interrogation-alert {
    margin-top: 10px;
    margin-left: 10px;
}
