.task {
    cursor: pointer;
    background-color: rgb(var(--background-color-2));
    border: solid rgb(var(--background-color-3));
    padding: 0.75em;
    border-radius: 10px;
    transition: .2s;
    text-decoration: none;
}

.task:is(:hover, :focus-visible) {
    background-color: rgba(var(--background-color-2), .6);
    transform: scale(1.025);
}

.interrogation-alert {
    color: rgb(var(--text-color-error));
    font-weight: var(--font-weight-semi-bold);
}

.interrogation-alert::before {
    content: "•";
    font-size: larger;
    margin-inline: 10px 5px;
}
