.upcoming-assignments-container {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
}

.upcoming-assignments::before {
    content: "";
    width: 4px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--subject-main-color);
    border-radius: 8px 0 0 8px;
    position: absolute;
}
.upcoming-assignments {
    position: relative;
    border: 1px solid var(--subject-bg-color);
    /* border-left: 4px solid var(--subject-main-color); */
    border-radius: 5px 8px 8px 5px;
    background-color: var(--subject-bg-color);
    display: flex;
    align-items: center;
    padding-inline: 15px;
    justify-content: space-between;
    min-height: 50px;
    gap: 10px;
    flex: 1;
    cursor: pointer;
    transition: .2s;
    overflow: hidden;
}

.upcoming-assignments.done {
    opacity: .5;
}

.upcoming-assignments:is(:hover, :focus-visible) {
    filter: brightness(1.15);
    outline: none;
}
.upcoming-assignments:active {
    filter: brightness(0.9);
}

.upcoming-assignments label {
    flex-shrink: 0;
    width: 35px;
    aspect-ratio: 1/1;
}

.upcoming-assignments input[type="checkbox"] {
    height: 100%;
    width: 100%;
    border-color: var(--subject-main-color);
    /* background-color: var(--background-color-task); */
    border-width: 3px;
    transition: .1s;
}

.upcoming-assignments input[type="checkbox"]:is(:hover, :focus-visible):not(:checked) {
    border-color: var(--subject-main-color);
    background-color: var(--subject-bg-color);
}
.upcoming-assignments input[type="checkbox"]:is(:hover, :focus-visible):checked {
    filter: brightness(.8);
}

.upcoming-assignments input[type="checkbox"]:checked {
    border-color: var(--subject-main-color);
    background-color: var(--subject-bg-color);
}

.upcoming-assignments span {
    font-weight: var(--font-weight-semi-bold);
    color: var(--subject-main-color);
    flex: 1;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.upcoming-assignments > span:last-child {
    font-weight: var(--font-weight-regular);
    text-align: end;
    flex: unset;
}

.upcoming-assignments .interrogation-label {
    position: relative;
}

.upcoming-assignments .interrogation-label::after {
    content: "";
    width: 0;
    background-color: var(--subject-main-color);
    height: 2.2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: width .5s;
}

.upcoming-assignments.done .interrogation-label::after {
    width: 107%;
}

.dummy-interrogation {
    flex: 1;
}

.upcoming-assignments-container .loading {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.upcoming-assignments-container .loading span {
    text-align: center;
    max-width: 80%;
    color: #8787B4;
    font-weight: var(--font-weight-extra-bold);
}

.upcoming-assignments-container .loading svg {
    height: 60%;
    min-width: 70px;
    max-width: 120px;
}

@media only screen and (max-width: 869px) {
    .dummy-interrogation {
        display: none;
    }

    .upcoming-assignments {
        padding: 15px;
    }
}