body:has(#settings) {
    background-color: rgb(var(--background-color-1));
}

#settings #settings-box {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    /* background-color: rgb(var(--background-color-1)); */
    padding: 50px clamp(10px, calc(4vw - 5px), 30px);
    padding-bottom: 30px;
    /* box-shadow: var(--box-shadow-window); */
}
#settings #settings-box h1 {
    font-size: var(--font-size-32);
    text-align: center;
    margin-bottom: 50px;
}


/* general */

#settings .setting {
    margin-bottom: 30px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    /* gap: 10px; */
}

#settings .setting.disabled {
    /* display: none; */
    opacity: 0.3;
    pointer-events: none;
    cursor: not-allowed; /* marche pas à cause de pointer-events */
}

#settings .setting .setting-label {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
#settings .setting .setting-label > span {
    flex: 1;
}

#settings .setting .info-button {
    display: inline-block;
    margin-inline: 10px;
}
.tooltip-content.setting-tooltip {
    max-width: min(300px, calc(100% - 20px));
}

#settings .setting .check-box {
    flex-wrap: nowrap;
}

#settings .setting .button {
    font-size: var(--font-size-14);
    margin: 0 5px;
    display: inline-block;
}

#settings .setting .button.refresh-button svg {
    height: 15px;
    scale: 1.3;
}

#settings .toggle-button svg {
    vertical-align: middle;
    margin-left: 10px;
    height: 20px;
}


/* display theme */
#settings #display-theme {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
}
#settings #display-theme span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-basis: auto;
}
#settings #display-theme #display-theme-sc {
    flex: 1;
    display: inline-flex;
    width: 100%;
}

/* grade scale */
#settings #grade-scale {
    row-gap: 15px;
}
#settings #grade-scale #grade-scale-cb {
    margin-right: 10px;
}


/* display mode */
#settings #display-mode {
    display: flex;
    flex-flow: row wrap;
    row-gap: 15px;
}
#settings #display-mode span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-basis: auto;
}
#settings #display-mode .info-button {
    min-width: 30px;
}
.tooltip-content.display-mode-ib {
    max-width: min(500px, calc(100vw - 40px));
}
.tooltip-content.display-mode-ib #demo-table {
    width: 100%;
    border-collapse: collapse;
}


.tooltip-content.display-mode-ib #demo-table .column-header {
    width: 100px;
}
.tooltip-content.display-mode-ib #demo-table .row-header {
    text-align: left;
    padding-inline: 8px;
}
.tooltip-content.display-mode-ib #demo-table th {
    font-weight: var(--font-weight-semi-bold);
}

.tooltip-content.display-mode-ib #demo-table * {
    padding: 3px;
    border: 1px solid rgb(var(--text-color-main));
    /* border-radius: 10px; */
}
#settings #display-mode #display-mode-sc {
    flex: 1;
    width: 100%;
}
#settings #display-mode #display-mode-dd {
    flex: 1;
    max-width: initial;
    width: 100%;
}

/* filters */
#settings #filters {
    width: 100%;
}

#settings #filters-container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

#settings #filters-container div {
    display: flex;
    align-items: center;
}

#settings #reset-windows-layouts {
    column-gap: 10px;
    row-gap: 15px;
    text-align: center;
}

#settings #refresh-user-data .button {
    width: 100%;
    margin: 0;
}

/* face your fears */
#face-your-fears {
    /* background-color: rgb(12, 4, 20); */
    background-image: url("https://img.freepik.com/free-vector/gradient-black-background-with-wavy-lines_23-2149157314.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    border: 1px solid #7b7b7b;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
}
#face-your-fears * {
    color: white;
}
#face-your-fears .heading {
    font-size: var(--font-size-20);
    margin-bottom: 20px;
}

#face-your-fears :last-child {
    margin-bottom: 0;
}

/* advanced settings */

#advanced-settings {
    background-color: rgba(var(--border-color-0), 0.2);
    border: 1px solid rgb(var(--border-color-0));
    border-radius: 10px;
    padding: 15px;
    padding-bottom: 0;
}

#advanced-settings .heading {
    font-size: var(--font-size-20);
    margin-bottom: 20px;
}

#advanced-settings .split-heading {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}
#advanced-settings .split-heading .heading {
    font-size: var(--font-size-16);
    margin: 0;
    flex-basis: auto;
}

#advanced-settings .split-heading hr {
    order: 1;
    background-color: rgb(var(--border-color-0));
    border: none;
    height: 1px;
    flex: 1;
}

/* specific settings */

/* dev channel */
#advanced-settings #dev-channel {
    row-gap: 15px;
}

/* info persistence */
#advanced-settings #info-persistence {
    flex-wrap: nowrap;
}
#advanced-settings #info-persistence #info-persistence-cb {
    flex-shrink: 999;
}


/* clear local storage */
#advanced-settings #clear-local-storage {
    row-gap: 15px;
}

/* school year */
#advanced-settings #school-year {
    row-gap: 15px;
}
#advanced-settings #school-year > #shool-year-ni {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
#advanced-settings #school-year .separator {
    margin-inline: 10px;
}


/* shortcuts */

#advanced-settings .shortcuts .shortcut {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
#advanced-settings .shortcuts:not(:last-child) .shortcut:last-child {
    margin-bottom: 20px;    
}

#advanced-settings .keys-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-end;
    gap: 2px;
}
#advanced-settings .shortcuts .keys {
    display: flex;
    flex-flow: row nowrap;
    gap: 5px;
}

/* install as application */

#install-as-application-tutorials {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 20px;
    margin-top: 20px;
}

/* footer */
#settings #important-note {
    margin-top: 10px;
    color: rgb(var(--text-color-alt));
    font-size: var(--font-size-14);
}

#settings #diverse-links,
#settings #diverse-links a {
    color: rgb(var(--text-color-alt));
    text-decoration: none;
}
#settings #diverse-links a:hover {
    color: rgba(var(--text-color-alt), 0.8);
}
#settings #diverse-links a:active {
    color: rgba(var(--text-color-alt), 0.6);
}

#settings #diverse-links {
    margin-top: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 5px;
}


@media only screen and (max-width: 450px) {
    #settings .setting {
        justify-content: center;
        margin-bottom: 40px;
    }

    #settings #display-theme {
        flex-direction: column;
    }

    #advanced-settings #info-persistence #info-persistence-cb,
    #advanced-settings #dynamic-loading-cb,
    #advanced-settings #school-year-cb {
        flex: 1;
    }
}
