
#lab-page h1 {
    text-align: center;
}

#test1 {
    color: #F00;
    transition: 2s;
}

#test1:hover {
    color: #0F0;
}

.container-test {
    overflow: hidden;
    height: 100px;
    background-color: red;
    padding: 15px;
    border-radius: 10px;
}

.grower {
    height: 50px;
    background-color: blue;
    transition: 0.5s;
    border-radius: 10px;
}

.grower:hover {
    height: 200px;
}

.container-test1 {
    height: 100px;
    overflow: hidden;
    background-color: red;
    padding: 15px;
    border-radius: 10px;
}

.grower1 {
    height: 200px;
    background-color: blue;
    transition: 0.5s;
    border-radius: 10px;
}

.container-test1:hover {
    transform: scaleY(200px);
    height: 200px;
}