
#lab-page h1#lab-page-heading {
    text-align: center;
    margin-block: 20px;
    font-size: var(--font-size-42);
}

#lab-page h3 {
    margin-block: 20px 10px;
}

#scroll-shaded-div {
    height: 200px;
}

#lab-page #test {
    transition: 1s;
    padding: 20px;
    background-color: blue;
}

#testcancer {
    color: white;
}

#lab-tooltip {
    width: max-content;
    margin: 0 auto;
}

#lab-page .header-button  {
    max-width: 100px;
    height: 100px;
    margin: 0 auto;
}

#lab-page #app-loading {
    height: 100vh;
}

#shining-div-test {
    background: linear-gradient(180deg, #FF0F00 30%, #FF7A00 100%);
    text-align: center;
    width: 100%;
    font-weight: 800;
    height: 150px;
}

#shining-test p {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#lab-page #store-call-to-action {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}


#lab-page .radio-buttons-test {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    padding: 10px;
}

#lab-page .inner-html-test {
    background-color: blue;
}

#lab-page .outline-effect-div-test {
    width: 800px;
    margin: 0 auto;
}
#lab-page .outline-effect-div-test .inner-container {
    padding: 10px;
    background-color: rgb(var(--background-color-0));
    transition: .1s;
}

#lab-page .outline-effect-div-test .inner-container:hover {
    background-color: color-mix(in srgb, rgb(var(--text-color-alt)) 5%, rgb(var(--background-color-0)));
}
