
#lab-page h1 {
    text-align: center;
}

#lab-page h3 {
    margin-block: 20px 10px;
}

#test {
    transition: 1s;
    padding: 20px;
    background-color: blue;
}

#testcancer {
    color: white;
}

#lab-tooltip {
    width: max-content;
    margin: 0 auto;
}
