body {
    --main-text-color: #FFF;
    --main-background0-color: #181829;
    --main-background1-color: #484866;
    --main-frame-header-color: #323257;
    --main-nav-bar-color: #39378f;
    --main-frame-shadow-color: rgba(0, 0, 0, 0.4);
    
    background-color: #181829;
    padding: 0;
    margin: 0;
}