

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

:root { /* les chads ils mettent les variables css dans la root donc on fait pareil; Pour être originla il faudrait réussir ne pas réussir */
    /* colors */
    --main-text-color: #FFF;
    --main-color-error: red;
    --main-color-success: lime;
    --main-background-color-0: #181829;
    --main-background-color-0-5: #333347;/*ca c du gris man pas du bleu foncé (enfin techniquement c du bleu prcq il y a plus de bleu que d'autre couleur mais ca se voit pas*/
    --main-background-color-1: #484866;
    --main-border-color-0: #4B48D9;
    --main-window-header-color: #323257;
    --main-nav-bar-color: #39378f;
    --main-window-box-shadow: 0 0 20px black;
    
    /* font*/
    --main-font-size-16: 1.6rem;
    --main-font-size-18: 1.8rem;
    --main-font-size-20: 2rem; /* window content */
    --main-font-size-24: 2.4rem; /* window header */
    --main-font-size-32: 3.2rem;
    --main-font-size-36: 3.6rem;
    --main-font-size-42: 4.2rem;
    --main-font-size-48: 4.8rem;
    --main-font-weight-regular: 400;
    --main-font-weight-semi-bold: 600;
    --main-font-weight-extra-bold: 800;

    font-size: 62.5%; /*pour que 1rem = 10px*/
}


/* si light mode ajouter classe light à root*/
:root.light { /* si on peut pas mettre de classe sur root on met sur body c'est pour écraser les variables du dark mode t'as la ref*/
    --main-text-color: #000;
    --main-background-color-0: #ffffff; /*valeurs totalement random à changer*/
    --main-background-color-1: #c7c7ff;
    --main-window-header-color: #a8a8ff;
    --main-nav-bar-color: #8785ff;
    --main-window-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

* {
    box-sizing: border-box;
    appearance: none;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--main-background-color-0);
    color: var(--main-text-color);
    font-weight: 400; /* regular */
    font-size: var(--main-font-size-16);
    margin: 0;
    padding: 0;
}

body, input {
    font-family: Inter, sans-serif;
}

/* Scrollbar */
::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    width: 1vh;
    background-color: transparent;
    border-radius: 30px;
    margin: 1vh;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #7676a2;
    border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #8f8db9;
}

