
#edp-version {
    background: rgba(255, 255, 255, 0);
    font-size: var(--main-font-size-14);
    color: rgb(var(--text-color-alt));
    position: absolute;
    right: 6px; /*=10px - padding -> aligne avec policy*/
    bottom: 6px;
    z-index: -99;
    padding: 4px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.1s;
}

#edp-version:hover, #edp-version:focus, #edp-version:active{
    background: rgba(255, 255, 255, 0.2);
    color: rgb(var(--text-color-main));
}