
h3.part-header {
    margin: 15px 0 20px 0;
    font-size: var(--main-font-size-20);
    font-weight: var(--main-font-weight-semi-bold);
    list-style-type: none;
}

#legal-notice h4.sub-header {
    font-weight: var(--main-font-weight-semi-bold);
    margin-bottom: 10px;
}

li.legal-content {
    margin-left: 10px;
    margin-bottom: 10px;
    color: var(--main-alt-text-color);
}

a.external-link {
    text-decoration: none;
    color: rgb(var(--border-color-1));
}

a.external-link:hover {
    color: rgb(var(--border-color-0));    
}


li#copyleft-container {
    text-align: center;
    list-style: none;
    /* font-style: italic; */
    margin-bottom: 15px;
}

img#copyleft {
    height: 18px;
    width: auto;
    vertical-align: text-top;
}
