
#app-loading {
    position: relative;
    width: 100%;
    height: 100%;
}

#app-loading .edp-logo-full-width {
    position: absolute;
    left: 20px;
    top: 20px;
    height: 50px;
    width: auto;
}

#loading-box {
    width: 75%;
    max-width: 475px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* à ajouter stv trigger toutes les citations de manière pas trop dégueu pour toutes les voir */
    /* height: 500px;
    overflow: auto; */
}

#loading-box #walking-canardman {
    width: 100%;
    max-width: 200px;
    /* padding: 40px; */
    /* background-color: rgb(var(--background-color-2)); */
    border-radius: 20px;
    margin: 0 auto;
    margin-bottom: 15px;
}


#loading-box h1 {
    /* margin-top: 20px; */
    font-size: var(--font-size-24);
}

#loading-box #loading-screen-tip {
    margin-top: 25px;
}
#loading-box #loading-screen-tip *,
#loading-box #loading-screen-tip ::before,
#loading-box #loading-screen-tip ::after {
    color: rgb(var(--text-color-alt))
}


#app-loading #edp-version {
    z-index: 0;
}
